
:root {
	--font-sans: "Geist", sans-serif;


	--bg-primary: #f9fafb;
	--bg-secondary: #ffffff;
	--bg-dark-card: #f3f4f6;
	--bg-inverse: #0b0f19;

	--text-primary: #0b0f19;
	--text-secondary: #4b5563;
	--text-muted: #9ca3af;
	--text-inverse: #ffffff;

	--border-primary: #e5e7eb;
	--border-dark: #d1d5db;

	--primary-accent: #155dfc;
}

[data-theme="dark"] {
	--bg-primary: #09090b;
	--bg-secondary: #18181b;
	--bg-dark-card: #27272a;
	--bg-inverse: #ffffff;

	--text-primary: #f4f4f5;
	--text-secondary: #a1a1aa;
	--text-muted: #71717a;
	--text-inverse: #09090b;

	--border-primary: #27272a;
	--border-dark: #3f3f46;

	--primary-accent: #60a5fa;
}
