@font-face {
	font-family: "Clash Grotesk";
	src: url("clash-grotesk-500.woff2") format("woff2");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Satoshi";
	src: url("satoshi-400.woff2") format("woff2");
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: "Satoshi";
	src: url("satoshi-500.woff2") format("woff2");
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}
