/*
      www.OnlineWebFonts.Com
      Font made from Web Fonts (http://www.onlinewebfonts.com/fonts) licensed by CC BY 4.0
      font-family: "Helvetica Now Display Bold";
*/

@font-face {
	font-family: "Helvetica Now Display Bold";
	src:
		url("./04e6981992c0e2e7642af2074ebe3901.woff2") format("woff2"),
		url("./04e6981992c0e2e7642af2074ebe3901.woff") format("woff"),
		url("./04e6981992c0e2e7642af2074ebe3901.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
