@font-face {
	font-family: "Neue Haas Grotesk Text Pro";
	src:
		url("./6e47ef470dd19698c911332a9b4d1cf4.woff2") format("woff2"),
		url("./6e47ef470dd19698c911332a9b4d1cf4.woff") format("woff"),
		url("./6e47ef470dd19698c911332a9b4d1cf4.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
