@layer properties {
  @supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
  *, ::before, ::after, ::backdrop { --tw-font-weight: initial; --tw-tracking: initial; --tw-outline-style: solid; --tw-shadow: 0 0 #0000; --tw-shadow-color: initial; --tw-shadow-alpha: 100%; --tw-inset-shadow: 0 0 #0000; --tw-inset-shadow-color: initial; --tw-inset-shadow-alpha: 100%; --tw-ring-color: initial; --tw-ring-shadow: 0 0 #0000; --tw-inset-ring-color: initial; --tw-inset-ring-shadow: 0 0 #0000; --tw-ring-inset: initial; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-offset-shadow: 0 0 #0000; }
}
}
@layer theme {
  :root, :host { --font-sans: "Inter",system-ui,sans-serif; --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --color-olive-100: oklch(96.6% .005 106.5); --color-olive-200: oklch(93% .007 106.5); --color-olive-300: oklch(88% .011 106.6); --color-olive-400: oklch(73.7% .021 106.9); --color-olive-500: oklch(58% .031 107.3); --color-olive-600: oklch(46.6% .025 107.3); --color-olive-700: oklch(39.4% .023 107.4); --color-olive-800: oklch(28.6% .016 107.4); --color-olive-950: oklch(15.3% .006 107.1); --color-black: #000; --color-white: #fff; --spacing: .25rem; --container-2xl: 42rem; --container-3xl: 48rem; --container-4xl: 56rem; --container-5xl: 64rem; --container-7xl: 80rem; --text-xs: .75rem; --text-sm: .875rem; --text-base: 1rem; --text-lg: 1.125rem; --text-3xl: 1.875rem; --text-5xl: 3rem; --font-weight-medium: 500; --font-weight-semibold: 600; --tracking-tight: -.025em; --radius-sm: .25rem; --radius-md: .375rem; --radius-xl: .75rem; --default-font-family: var(--font-sans); --default-mono-font-family: var(--font-mono); --font-display: "Instrument Serif",serif; --font-display--font-variation-settings: "wdth" 112.5; }
}
@layer base {
  *, ::after, ::before, ::backdrop { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  ::file-selector-button { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  html, :host { text-size-adjust: 100%; tab-size: 4; line-height: 1.5; font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"); font-feature-settings: var(--default-font-feature-settings,normal); font-variation-settings: var(--default-font-variation-settings,normal); -webkit-tap-highlight-color: transparent; }
  hr { height: 0px; color: inherit; border-top-width: 1px; }
  abbr:where([title]) { text-decoration: underline dotted; }
  h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
  a { color: inherit; text-decoration: inherit; }
  b, strong { font-weight: bolder; }
  code, kbd, samp, pre { font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace); font-feature-settings: var(--default-mono-font-feature-settings,normal); font-variation-settings: var(--default-mono-font-variation-settings,normal); font-size: 1em; }
  small { font-size: 80%; }
  sub, sup { vertical-align: baseline; font-size: 75%; line-height: 0; position: relative; }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }
  table { text-indent: 0px; border-color: inherit; border-collapse: collapse; }
  progress { vertical-align: baseline; }
  summary { display: list-item; }
  ol, ul, menu { list-style: none; }
  img, svg, video, canvas, audio, iframe, embed, object { vertical-align: middle; display: block; }
  img, video { max-width: 100%; height: auto; }
  button, input, select, optgroup, textarea { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  ::file-selector-button { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  :where(select:is([multiple], [size])) optgroup { font-weight: bolder; }
  :where(select:is([multiple], [size])) optgroup option { padding-inline-start: 20px; }
  ::file-selector-button { margin-inline-end: 4px; }
  ::placeholder { opacity: 1; }
  @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
  ::placeholder { color: currentcolor; }
  @supports (color:color-mix(in lab, red, red)) {
  ::placeholder { color: color-mix(currentcolor, transparent); }
}
}
  textarea { resize: vertical; }
  ::-webkit-search-decoration { appearance: none; }
  ::-webkit-date-and-time-value { min-height: 1lh; text-align: inherit; }
  ::-webkit-datetime-edit { display: inline-flex; }
  ::-webkit-datetime-edit-fields-wrapper { padding: 0px; }
  ::-webkit-datetime-edit { padding-block: 0px; }
  ::-webkit-datetime-edit-year-field { padding-block: 0px; }
  ::-webkit-datetime-edit-month-field { padding-block: 0px; }
  ::-webkit-datetime-edit-day-field { padding-block: 0px; }
  ::-webkit-datetime-edit-hour-field { padding-block: 0px; }
  ::-webkit-datetime-edit-minute-field { padding-block: 0px; }
  ::-webkit-datetime-edit-second-field { padding-block: 0px; }
  ::-webkit-datetime-edit-millisecond-field { padding-block: 0px; }
  ::-webkit-datetime-edit-meridiem-field { padding-block: 0px; }
  ::-webkit-calendar-picker-indicator { line-height: 1; }
  button, input:where([type="button"], [type="reset"], [type="submit"]) { appearance: button; }
  ::file-selector-button { appearance: button; }
  ::-webkit-inner-spin-button { height: auto; }
  ::-webkit-outer-spin-button { height: auto; }
  [hidden]:where(:not([hidden="until-found"])) { display: none !important; }
  html { -webkit-font-smoothing: antialiased; background-color: var(--color-olive-100); --scroll-padding-top: 0; scroll-padding-top: var(--scroll-padding-top); }
  @media (prefers-color-scheme: dark) {
  html { background-color: var(--color-olive-950); }
}
}
@layer components;
@layer utilities {
  .xuc { position: fixed; }
  .xud { position: relative; }
  .xue { position: sticky; }
  .xuf { inset: calc(var(--spacing)*0); }
  .xug { top: calc(var(--spacing)*0); }
  .xuh { isolation: isolate; }
  .xui { z-index: 10; }
  .xuj { margin-inline: auto; }
  .xuk { margin-top: calc(var(--spacing)*2); }
  .xul { margin-top: calc(var(--spacing)*6); }
  .xum { display: flex; }
  .xun { display: grid; }
  .xuo { display: inline-block; }
  .xup { display: inline-flex; }
  .xuq { aspect-ratio: 3 / 4; }
  .xur { width: calc(var(--spacing)*3.25); height: calc(var(--spacing)*3.25); }
  .xus { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  .xut { height: var(--scroll-padding-top); }
  .xuu { height: calc(var(--spacing)*3); }
  .xuv { height: calc(var(--spacing)*8); }
  .xuw { height: 1lh; }
  .xux { width: 100%; }
  .xuy { width: 1px; }
  .xuz { max-width: var(--container-2xl); }
  .xva { max-width: var(--container-3xl); }
  .xvb { max-width: var(--container-4xl); }
  .xvc { max-width: var(--container-5xl); }
  .xvd { max-width: var(--container-7xl); }
  .xve { max-width: 100%; }
  .xvf { flex: 1 1 0%; }
  .xvg { flex-shrink: 0; }
  .xvh { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .xvi { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .xvj { flex-direction: column; }
  .xvk { align-items: center; }
  .xvl { align-items: flex-start; }
  .xvm { align-items: stretch; }
  .xvn { justify-content: space-between; }
  .xvo { justify-content: center; }
  .xvp { justify-content: flex-end; }
  .xvq { gap: calc(var(--spacing)*1); }
  .xvr { gap: calc(var(--spacing)*2); }
  .xvs { gap: calc(var(--spacing)*3); }
  .xvt { gap: calc(var(--spacing)*4); }
  .xvu { gap: calc(var(--spacing)*5); }
  .xvv { gap: calc(var(--spacing)*6); }
  .xvw { gap: calc(var(--spacing)*8); }
  .xvx { gap: calc(var(--spacing)*10); }
  .xvy { gap: calc(var(--spacing)*16); }
  .xvz { column-gap: calc(var(--spacing)*2); }
  .xwa { column-gap: calc(var(--spacing)*3); }
  .xwb { row-gap: calc(var(--spacing)*10); }
  .xwc { overflow: clip; }
  .xwd { overflow: hidden; }
  .xwe { border-radius: 3.40282e+38px; }
  .xwf { border-radius: var(--radius-md); }
  .xwg { border-radius: var(--radius-sm); }
  .xwh { border-radius: var(--radius-xl); }
  .xwi { background-color: var(--color-olive-100); }
  .xwj { background-color: var(--color-olive-950); }
  .xwk { background-color: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .xwk { background-color: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .xwl { background-color: rgba(12, 12, 9, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .xwl { background-color: color-mix(in oklab,var(--color-olive-950)5%,transparent); }
}
  .xwm { background-color: rgba(12, 12, 9, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .xwm { background-color: color-mix(in oklab,var(--color-olive-950)20%,transparent); }
}
  .xwn { padding: calc(var(--spacing)*1.5); }
  .xwo { padding: calc(var(--spacing)*6); }
  .xwp { padding-inline: calc(var(--spacing)*3); }
  .xwq { padding-inline: calc(var(--spacing)*3.5); }
  .xwr { padding-inline: calc(var(--spacing)*4); }
  .xws { padding-inline: calc(var(--spacing)*6); }
  .xwt { padding-block: calc(var(--spacing)*1); }
  .xwu { padding-block: calc(var(--spacing)*2); }
  .xwv { padding-block: calc(var(--spacing)*6); }
  .xww { padding-block: calc(var(--spacing)*16); }
  .xwx { padding-top: calc(var(--spacing)*16); }
  .xwy { font-family: var(--font-display); font-variation-settings: var(--font-display--font-variation-settings); }
  .xwz { font-size: var(--text-3xl); line-height: calc(var(--spacing)*10); }
  .xxa { font-size: var(--text-5xl); line-height: calc(var(--spacing)*12); }
  .xxb { font-size: 2rem; line-height: calc(var(--spacing)*10); }
  .xxc { font-size: var(--text-base); line-height: calc(var(--spacing)*7); }
  .xxd { font-size: var(--text-lg); line-height: calc(var(--spacing)*8); }
  .xxe { font-size: var(--text-sm); line-height: calc(var(--spacing)*6); }
  .xxf { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .xxg { font-size: var(--text-xs); line-height: calc(var(--spacing)*6); }
  .xxh { --tw-font-weight: var(--font-weight-medium); font-weight: var(--font-weight-medium); }
  .xxi { --tw-font-weight: var(--font-weight-semibold); font-weight: var(--font-weight-semibold); }
  .xxj { --tw-tracking: var(--tracking-tight); letter-spacing: var(--tracking-tight); }
  .xxk { text-wrap: balance; }
  .xxl { text-wrap: pretty; }
  .xxm { color: var(--color-olive-600); }
  .xxn { color: var(--color-olive-700); }
  .xxo { color: var(--color-olive-950); }
  .xxp { color: var(--color-white); }
  .xxq { -webkit-font-smoothing: antialiased; }
  .xxr { color-scheme: light dark; }
  .xxs { opacity: 0; }
  .xxt { outline-style: var(--tw-outline-style); outline-width: 1px; }
  .xxu { outline-offset: calc(-1px); }
  .xxv { outline-color: rgba(0, 0, 0, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .xxv { outline-color: color-mix(in oklab,var(--color-black)5%,transparent); }
}
  :is(.xxw > *) { width: 100%; height: 100%; }
  :is(.xxx > *) { object-fit: cover; }
  @media not all and (prefers-color-scheme: dark) {
  .xxy { display: none; }
  .xxz { background-color: rgba(255, 255, 255, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .xxz { background-color: color-mix(in oklab,var(--color-white)75%,transparent); }
}
}
  @media (hover: hover) {
  .xya:is(:where(.xyb):hover *) { opacity: 1; }
}
  .xyc::backdrop { background-color: rgba(0, 0, 0, 0); }
  @media (hover: hover) {
  .xyd:hover { background-color: var(--color-olive-800); }
  .xye:hover { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .xye:hover { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
}
  @media not all and (min-width: 80rem) {
  .xyf { display: none; }
  .xyg { flex-direction: column; }
}
  @media not all and (min-width: 64rem) {
  .xyh { display: none; }
}
  @media not all and (min-width: 40rem) {
  .xyi { display: none; }
  .xyj { flex-direction: column; }
}
  @media (min-width: 40rem) {
  .xyk { display: none; }
  .xyl { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .xym { align-items: center; }
  .xyn { gap: calc(var(--spacing)*16); }
  .xyo { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
  .xyp { border-radius: 3.40282e+38px; }
  .xyq { padding-inline: calc(var(--spacing)*3); }
  .xyr { padding-block: calc(var(--spacing)*.5); }
  .xys { font-size: var(--text-5xl); line-height: calc(var(--spacing)*14); }
  .xyt { font-size: 5rem; line-height: calc(var(--spacing)*20); }
  .xyu:has(> :last-child:nth-child(3)) { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .xyv:has(> :last-child:nth-child(3)), .xyw:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
}
  @media (min-width: 48rem) {
  .xyx { max-width: var(--container-3xl); }
  .xyy, .xyz:has(> :last-child:nth-child(3)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .xza:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
  .xzb:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
}
  @media (min-width: 64rem) {
  .xzc { display: none; }
  .xzd { max-width: var(--container-7xl); }
  .xze { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .xzf { padding-inline: calc(var(--spacing)*10); }
  .xzg { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .xzh:has(> :last-child:nth-child(4n)), .xzi:has(> :last-child:nth-child(4n-1):not(:nth-child(3n))) { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
  .xzj:has(> :nth-child(5)) { grid-template-columns: repeat(5, minmax(0px, 1fr)); }
}
  @media (min-width: 80rem) {
  .xzk { display: none; }
}
  @media (prefers-color-scheme: dark) {
  .xzl { display: none; }
  .xzm { background-color: rgba(0, 0, 0, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .xzm { background-color: color-mix(in oklab,var(--color-black)75%,transparent); }
}
  .xzn { background-color: var(--color-olive-300); }
  .xzo { background-color: var(--color-olive-950); }
  .xzp { background-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .xzp { background-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .xzq { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .xzq { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .xzr { color: var(--color-olive-400); }
  .xzs { color: var(--color-olive-500); }
  .xzt { color: var(--color-olive-950); }
  .xzu { color: var(--color-white); }
  .xzv { --tw-inset-ring-shadow: inset 0 0 0 1px var(--tw-inset-ring-color,currentcolor); box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow); }
  .xzw { --tw-inset-ring-color: #ffffff0d; }
  @supports (color:color-mix(in lab, red, red)) {
  .xzw { --tw-inset-ring-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .xzx { outline-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .xzx { outline-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  @media (hover: hover) {
  .xzy:hover { background-color: var(--color-olive-200); }
  .xzz:hover { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .xzz:hover { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
}
}
}
@property --tw-font-weight { syntax: "*"; inherits: false; }
@property --tw-tracking { syntax: "*"; inherits: false; }
@property --tw-outline-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-shadow-color { syntax: "*"; inherits: false; }
@property --tw-shadow-alpha { syntax: "<percentage>"; inherits: false; initial-value: 100%; }
@property --tw-inset-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-inset-shadow-color { syntax: "*"; inherits: false; }
@property --tw-inset-shadow-alpha { syntax: "<percentage>"; inherits: false; initial-value: 100%; }
@property --tw-ring-color { syntax: "*"; inherits: false; }
@property --tw-ring-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-inset-ring-color { syntax: "*"; inherits: false; }
@property --tw-inset-ring-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-ring-inset { syntax: "*"; inherits: false; }
@property --tw-ring-offset-width { syntax: "<length>"; inherits: false; initial-value: 0; }
@property --tw-ring-offset-color { syntax: "*"; inherits: false; initial-value: #fff; }
@property --tw-ring-offset-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
:root { --scroll-padding-top: 5.25rem; }