html,
body {
  overflow-x: clip;
}

#nav-toggle:checked ~ #nav-menu {
  display: block;
}

.nav-dropdown-list.static-open {
  display: block;
  visibility: visible;
  opacity: 1;
}

[data-aos] {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: none !important;
  visibility: visible !important;
}
