
:root {
	--font-sans: "Inter", sans-serif;


	--bg-primary: #030303;
	--bg-secondary: rgba(255, 255, 255, 0.05);
	--bg-dark-card: rgba(255, 255, 255, 0.03);
	--bg-inverse: #ffffff;

	--text-primary: #ffffff;
	--text-secondary: rgba(255, 255, 255, 0.6);
	--text-muted: rgba(255, 255, 255, 0.4);
	--text-inverse: #030303;

	--border-primary: rgba(255, 255, 255, 0.1);
	--border-dark: rgba(255, 255, 255, 0.2);
}

[data-theme="light"] {
	--bg-primary: #ffffff;
	--bg-secondary: #f4f4f5;
	--bg-dark-card: #fafafa;
	--bg-inverse: #030303;

	--text-primary: #09090b;
	--text-secondary: #4b5563;
	--text-muted: #9ca3af;
	--text-inverse: #ffffff;

	--border-primary: #e4e4e7;
	--border-dark: #d4d4d8;
}
