@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	--font-sans: "Inter", sans-serif;
	--font-mono: "Anonymous Pro", monospace;


	--bg-primary: #ffffff;
	--bg-secondary: #fbfbfb;
	--bg-dark: #070707;
	--bg-dark-card: #0b0b0b;
	--bg-inverse: #000000;

	--text-primary: #000000;
	--text-secondary: #4b5563;
	--text-muted: #9ca3af;
	--text-inverse: #ffffff;
	--text-dark-muted: rgba(255, 255, 255, 0.6);

	--border-primary: #e5e7eb;
	--border-dark: #1f1f1f;
	--border-inverse: #000000;


	--transition-default: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
	--transition-fast: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme="dark"] {
	--bg-primary: #070707;
	--bg-secondary: #0b0b0b;
	--bg-dark: #000000;
	--bg-dark-card: #070707;
	--bg-inverse: #ffffff;

	--text-primary: #ffffff;
	--text-secondary: #9ca3af;
	--text-muted: #6b7280;
	--text-inverse: #000000;
	--text-dark-muted: rgba(255, 255, 255, 0.4);

	--border-primary: #1f1f1f;
	--border-dark: #2a2a2a;
	--border-inverse: #ffffff;
}
