@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

html,
body,
#root {
	background-color: #0c0c0c;
}

body {
	font-family: "Kanit", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

::selection {
	background-color: #b600a8;
	color: #ffffff;
}

.hero-heading {
	background: linear-gradient(180deg, #646973 0%, #bbccd7 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
}
