<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="icon" type="image/png" href="./favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Support - WriteMate AI | Get Help &amp; FAQs</title>
		<meta
			name="title"
			content="WriteMate AI - React AI Website Template for Multi-LLM Content Platforms"
		>
		<meta
			name="description"
			content="React AI website template for AI writing tools, content, and chatbot platforms. Includes features, pricing, docs, support, Use Cases, and testimonials sections."
		>


		<meta property="og:type" content="website">
		<meta property="og:url" content="https://writemate.demos.tailgrids.com">
		<meta
			property="og:title"
			content="WriteMate AI - React AI Website Template for Multi-LLM Content Platforms"
		>
		<meta
			property="og:description"
			content="React AI website template for AI writing tools, content, and chatbot platforms. Includes features, pricing, docs, support, Use Cases, and testimonials sections."
		>
		<meta
			property="og:image"
			content="https://assets.tailgrids.com/1771816318893-writemate-lg.png"
		>

		<script
			src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
		></script>
		<script defer src="./assets/script.js"></script>

		<link rel="stylesheet" href="./assets/tokens.css">
		<link rel="stylesheet" href="./assets/styles.css">
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		>

		<meta
			name="description"
			content="Get quick answers and support from our expert team. Browse FAQs and contact us for assistance with WriteMate AI."
			data-rh="true"
		>
	</head>
	<body>
		<div id="root">
			<div class="antialiased bg-theme-dark min-h-screen flex flex-col">
				<header
					class="sticky top-0 z-50 transition-all duration-300 bg-theme-dark"
				>
					<nav>
						<div class="max-w-7xl mx-auto px-6">
							<div class="flex items-center justify-between py-4">
								<div>
									<a href="./index.html" data-discover="true"
										><img alt="WriteMate AI Logo" src="./images/logo.svg"></a
									>
								</div>
								<div class="hidden lg:block">
									<ul
										class="flex space-x-8 [&amp;&gt;li&gt;a]:font-normal [&amp;&gt;li&gt;a]:py-4 [&amp;&gt;li&gt;a]:inline-block [&amp;&gt;li&gt;a]:hover:text-white"
									>
										<li>
											<a
												class="transition-colors duration-300 text-white/60"
												href="./index.html"
												data-discover="true"
												>Home</a
											>
										</li>
										<li>
											<a
												class="transition-colors duration-300 text-white/60"
												href="./pricing.html"
												data-discover="true"
												>Pricing</a
											>
										</li>
										<li>
											<a
												class="transition-colors duration-300 text-white/60"
												href="./docs.html"
												data-discover="true"
												>Docs</a
											>
										</li>
										<li>
											<a
												class="transition-colors duration-300 text-white"
												href="./support.html"
												data-discover="true"
												>Support</a
											>
										</li>
									</ul>
								</div>
								<div class=" sm:flex items-center">
									<div class="lg:flex hidden">
										<a
											class="cursor-pointer relative overflow-hidden group inline-flex items-center justify-center font-mono hidden sm:inline-flex text-base px-6 py-3.5 ring ring-transparent font-medium -tracking-[0.2px] leading-5 text-white    transition-all duration-300"
											href="./pricing.html"
											data-discover="true"
											><span
												class="block relative h-full w-full overflow-hidden"
												><span
													class="flex h-full w-full items-center justify-center"
													style="transform: none;"
													>Login</span
												><span
													class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
													style="transform: translateY(100%);"
													>Login</span
												></span
											></a
										><a
											class="cursor-pointer relative overflow-hidden group inline-flex items-center justify-center font-mono hidden px-6 ring ring-white/40 sm:inline-flex text-base font-medium -tracking-[0.2px] leading-5 text-white py-3.5 hover:bg-white/10 transition-all duration-300"
											href="./pricing.html"
											data-discover="true"
											><span
												class="block relative h-full w-full overflow-hidden"
												><span
													class="flex h-full w-full items-center justify-center"
													style="transform: none;"
													>Start for free</span
												><span
													class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
													style="transform: translateY(100%);"
													>Start for free</span
												></span
											></a
										>
									</div>
									<div class="block lg:hidden ml-5">
										<button
											id="mobile-menu-toggle"
											class="text-white font-medium text-sm cursor-pointer"
										>
											<svg
												xmlns="http://www.w3.org/2000/svg"
												width="24"
												height="24"
												viewBox="0 0 24 24"
												fill="none"
											>
												<path
													d="M3 12H21M3 6H21M3 18H21"
													stroke="currentColor"
													stroke-width="2"
													stroke-linecap="round"
													stroke-linejoin="round"
												></path>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</nav>
				</header>
				<div
					id="mobile-menu"
					class="hidden lg:hidden fixed inset-x-0 top-[72px] p-6 bg-zinc-950 border-b border-white/10 z-40 transition-all duration-300"
				>
					<nav class="flex flex-col gap-4 text-center">
						<a
							class="text-sm font-medium py-2 text-white hover:text-white/80 transition"
							href="./index.html"
							>Home</a
						>
						<a
							class="text-sm font-medium py-2 text-white hover:text-white/80 transition"
							href="./pricing.html"
							>Pricing</a
						>
						<a
							class="text-sm font-medium py-2 text-white hover:text-white/80 transition"
							href="./docs.html"
							>Docs</a
						>
						<a
							class="text-sm font-medium py-2 text-white hover:text-white/80 transition"
							href="./support.html"
							>Support</a
						>
						<div
							class="pt-4 border-t border-white/10 flex flex-col items-center gap-4"
						>
							<a class="text-white font-mono text-sm py-2" href="./pricing.html"
								>Login</a
							>
							<a
								class="cursor-pointer relative overflow-hidden group inline-flex items-center justify-center font-mono px-6 ring ring-white/40 text-base font-medium -tracking-[0.2px] leading-5 text-white py-3 hover:bg-white/10 transition-all duration-300 w-full max-w-[200px]"
								href="./pricing.html"
								>Start for free</a
							>
						</div>
					</nav>
				</div>
				<section class="border-y border-white/20 mb-20">
					<div class="max-w-7xl mx-auto px-6">
						<div class="px-8 py-10 lg:p-20 border-x border-white/20">
							<div class="">
								<div class="max-w-xl mx-auto text-center mb-16">
									<h2
										class="mb-6 text-4xl text-white font-medium"
										style="opacity: 1; transform: none;"
									>
										WriteMate AI Support
									</h2>
									<p
										class="text-theme-dark-50"
										style="opacity: 1; transform: none;"
									>
										Supercharge your content creation with AI-driven design,
										copy, images, and SEO optimization. Edit visually, publish,
										or export clean HTML/CSS.
									</p>
								</div>
								<div class="flex flex-col sm:flex-row gap-4">
									<div class="sm:w-5/12" style="opacity: 1; transform: none;">
										<div class="border border-white/20 py-8 px-6 relative">
											<div class="absolute top-0 pointer-events-none">
												<img class="" alt="" src="./images/shape-5.png">
											</div>
											<div class="relative z-10">
												<h3 class="text-white font-medium text-lg mb-1">
													Get Quick Answer
												</h3>
												<p class="text-base text-white/80 mb-8">
													For teams seeking advanced AI support features
												</p>
												<a
													class="cursor-pointer relative overflow-hidden group inline-flex items-center justify-center text-white bg-white/5 border py-3 border-white/40 transition-all hover:bg-white/10 px-6 inline-flex font-mono items-center justify-center text-base"
													href="./support.html"
													data-discover="true"
													><span
														class="block relative h-full w-full overflow-hidden"
														><span
															class="flex h-full w-full items-center justify-center"
															style="transform: none;"
															>Browse FAQs</span
														><span
															class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
															style="transform: translateY(100%);"
															>Browse FAQs</span
														></span
													></a
												>
											</div>
										</div>
									</div>
									<div class="sm:w-7/12" style="opacity: 1; transform: none;">
										<div class="border border-white/20 py-8 px-6 relative">
											<div class="mb-6">
												<h2 class="text-xl mb-1 font-medium text-white">
													Contact Support
												</h2>
												<p class="text-base text-white/80">
													Get personalized assistance from our expert support
													team.
												</p>
											</div>
											<form action="#">
												<div class="grid grid-cols-1 lg:grid-cols-2 gap-3">
													<div>
														<input
															placeholder="Name*"
															class="h-12 border bg-white/5 w-full placeholder:text-white/80 p-5 border-white/20 focus:outline-0 text-white focus:border-white/50"
															type="text"
															style=""
														>
													</div>
													<div>
														<input
															placeholder="Email*"
															class="h-12 border bg-white/5 w-full placeholder:text-white/80 p-5 border-white/20 focus:outline-0 text-white focus:border-white/50"
															type="text"
															style=""
														>
													</div>
													<div class="col-span-full">
														<input
															placeholder="Subject*"
															class="h-12 border bg-white/5 w-full placeholder:text-white/80 p-5 border-white/20 focus:outline-0 text-white focus:border-white/50"
															type="text"
															style=""
														>
													</div>
													<div class="col-span-full">
														<textarea
															name="message"
															class="h-32 py-3 px-5 border bg-white/5 w-full placeholder:text-white/80 p-5 border-white/20 focus:outline-0 text-white focus:border-white/50"
															id=""
															placeholder="Describe your issue*"
															style=""
														></textarea>
													</div>
												</div>
												<div class="mt-6">
													<button
														class="cursor-pointer relative overflow-hidden group inline-flex items-center justify-center bg-white px-6 cursor-pointer py-3 text-theme-dark-500 transition-all w-full inline-flex items-center justify-center text-base hover:bg-white/90 font-mono"
													>
														<span
															class="block relative h-full w-full overflow-hidden"
															><span
																class="flex h-full w-full items-center justify-center"
																style="transform: none;"
																>Send Message</span
															><span
																class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
																style="transform: translateY(100%);"
																>Send Message</span
															></span
														>
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<footer class="pt-10 lg:pt-20 border-t border-white/20">
					<div class="max-w-7xl mx-auto px-6">
						<div
							class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 pb-12 lg:pb-24 gap-8 lg:gap-4"
						>
							<article>
								<h3 class="mb-4 font-semibold text-white text-sm">Product</h3>
								<nav class="space-y-4">
									<a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./tools.html"
										data-discover="true"
										>Tools</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./pricing.html"
										data-discover="true"
										>Pricing</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./docs.html"
										data-discover="true"
										>Documentation</a
									>
								</nav>
							</article>
							<article>
								<h3 class="mb-4 font-semibold text-white text-sm">Resources</h3>
								<nav class="space-y-4">
									<a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./docs.html"
										data-discover="true"
										>Getting Started</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./docs.html"
										data-discover="true"
										>API Reference</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./support.html"
										data-discover="true"
										>Help Center</a
									>
								</nav>
							</article>
							<article>
								<h3 class="mb-4 font-semibold text-white text-sm">Company</h3>
								<nav class="space-y-4">
									<a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./index.html"
										data-discover="true"
										>About Us</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./index.html"
										data-discover="true"
										>Careers</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./support.html"
										data-discover="true"
										>Contact</a
									>
								</nav>
							</article>
							<article>
								<h3 class="mb-4 font-semibold text-white text-sm">Legal</h3>
								<nav class="space-y-4">
									<a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./index.html"
										data-discover="true"
										>Privacy Policy</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./index.html"
										data-discover="true"
										>Terms of Service</a
									><a
										class="text-zinc-400 block text-sm leading-5 hover:text-white transition"
										href="./index.html"
										data-discover="true"
										>Cookie Policy</a
									>
								</nav>
							</article>
						</div>
						<div
							class="pt-4 pb-8 border-t flex flex-col sm:flex-row gap-5 justify-between border-white/20"
						>
							<div>
								<p class="text-zinc-400 text-sm leading-5  transition">
									© 2026 Writemate AI. All rights reserved.
								</p>
							</div>
							<div>
								<nav class="flex gap-4 items-center">
									<a
										class="text-zinc-400 text-sm leading-5 hover:text-white transition"
										href="./index.html"
										data-discover="true"
										>Privacy Policy</a
									><a
										class="text-zinc-400 text-sm leading-5 hover:text-white transition"
										href="./index.html"
										data-discover="true"
										>Terms of Service</a
									>
								</nav>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>
