@layer properties {
  @supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
  *, ::before, ::after, ::backdrop { --tw-translate-x: 0; --tw-translate-y: 0; --tw-translate-z: 0; --tw-space-y-reverse: 0; --tw-divide-y-reverse: 0; --tw-border-style: solid; --tw-font-weight: initial; --tw-tracking: initial; --tw-outline-style: solid; --tw-shadow: 0 0 #0000; --tw-shadow-color: initial; --tw-shadow-alpha: 100%; --tw-inset-shadow: 0 0 #0000; --tw-inset-shadow-color: initial; --tw-inset-shadow-alpha: 100%; --tw-ring-color: initial; --tw-ring-shadow: 0 0 #0000; --tw-inset-ring-color: initial; --tw-inset-ring-shadow: 0 0 #0000; --tw-ring-inset: initial; --tw-ring-offset-width: 0px; --tw-ring-offset-color: #fff; --tw-ring-offset-shadow: 0 0 #0000; --tw-content: ""; --tw-gradient-position: initial; --tw-gradient-from: #0000; --tw-gradient-via: #0000; --tw-gradient-to: #0000; --tw-gradient-stops: initial; --tw-gradient-via-stops: initial; --tw-gradient-from-position: 0%; --tw-gradient-via-position: 50%; --tw-gradient-to-position: 100%; }
}
}
@layer theme {
  :root, :host { --font-sans: "Inter",system-ui,sans-serif; --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --color-olive-100: oklch(96.6% .005 106.5); --color-olive-200: oklch(93% .007 106.5); --color-olive-300: oklch(88% .011 106.6); --color-olive-400: oklch(73.7% .021 106.9); --color-olive-500: oklch(58% .031 107.3); --color-olive-600: oklch(46.6% .025 107.3); --color-olive-700: oklch(39.4% .023 107.4); --color-olive-800: oklch(28.6% .016 107.4); --color-olive-950: oklch(15.3% .006 107.1); --color-black: #000; --color-white: #fff; --spacing: .25rem; --container-sm: 24rem; --container-2xl: 42rem; --container-3xl: 48rem; --container-4xl: 56rem; --container-5xl: 64rem; --container-7xl: 80rem; --text-xs: .75rem; --text-sm: .875rem; --text-base: 1rem; --text-lg: 1.125rem; --text-2xl: 1.5rem; --text-3xl: 1.875rem; --text-5xl: 3rem; --font-weight-medium: 500; --font-weight-semibold: 600; --tracking-tight: -.025em; --radius-sm: .25rem; --radius-md: .375rem; --radius-lg: .5rem; --radius-xl: .75rem; --default-transition-duration: .15s; --default-transition-timing-function: cubic-bezier(.4,0,.2,1); --default-font-family: var(--font-sans); --default-mono-font-family: var(--font-mono); --font-display: "Instrument Serif",serif; --font-display--font-variation-settings: "wdth" 112.5; }
}
@layer base {
  *, ::after, ::before, ::backdrop { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  ::file-selector-button { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  html, :host { text-size-adjust: 100%; tab-size: 4; line-height: 1.5; font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"); font-feature-settings: var(--default-font-feature-settings,normal); font-variation-settings: var(--default-font-variation-settings,normal); -webkit-tap-highlight-color: transparent; }
  hr { height: 0px; color: inherit; border-top-width: 1px; }
  abbr:where([title]) { text-decoration: underline dotted; }
  h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
  a { color: inherit; text-decoration: inherit; }
  b, strong { font-weight: bolder; }
  code, kbd, samp, pre { font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace); font-feature-settings: var(--default-mono-font-feature-settings,normal); font-variation-settings: var(--default-mono-font-variation-settings,normal); font-size: 1em; }
  small { font-size: 80%; }
  sub, sup { vertical-align: baseline; font-size: 75%; line-height: 0; position: relative; }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }
  table { text-indent: 0px; border-color: inherit; border-collapse: collapse; }
  progress { vertical-align: baseline; }
  summary { display: list-item; }
  ol, ul, menu { list-style: none; }
  img, svg, video, canvas, audio, iframe, embed, object { vertical-align: middle; display: block; }
  img, video { max-width: 100%; height: auto; }
  button, input, select, optgroup, textarea { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  ::file-selector-button { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  :where(select:is([multiple], [size])) optgroup { font-weight: bolder; }
  :where(select:is([multiple], [size])) optgroup option { padding-inline-start: 20px; }
  ::file-selector-button { margin-inline-end: 4px; }
  ::placeholder { opacity: 1; }
  @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
  ::placeholder { color: currentcolor; }
  @supports (color:color-mix(in lab, red, red)) {
  ::placeholder { color: color-mix(currentcolor, transparent); }
}
}
  textarea { resize: vertical; }
  ::-webkit-search-decoration { appearance: none; }
  ::-webkit-date-and-time-value { min-height: 1lh; text-align: inherit; }
  ::-webkit-datetime-edit { display: inline-flex; }
  ::-webkit-datetime-edit-fields-wrapper { padding: 0px; }
  ::-webkit-datetime-edit { padding-block: 0px; }
  ::-webkit-datetime-edit-year-field { padding-block: 0px; }
  ::-webkit-datetime-edit-month-field { padding-block: 0px; }
  ::-webkit-datetime-edit-day-field { padding-block: 0px; }
  ::-webkit-datetime-edit-hour-field { padding-block: 0px; }
  ::-webkit-datetime-edit-minute-field { padding-block: 0px; }
  ::-webkit-datetime-edit-second-field { padding-block: 0px; }
  ::-webkit-datetime-edit-millisecond-field { padding-block: 0px; }
  ::-webkit-datetime-edit-meridiem-field { padding-block: 0px; }
  ::-webkit-calendar-picker-indicator { line-height: 1; }
  button, input:where([type="button"], [type="reset"], [type="submit"]) { appearance: button; }
  ::file-selector-button { appearance: button; }
  ::-webkit-inner-spin-button { height: auto; }
  ::-webkit-outer-spin-button { height: auto; }
  [hidden]:where(:not([hidden="until-found"])) { display: none !important; }
  html { -webkit-font-smoothing: antialiased; background-color: var(--color-olive-100); --scroll-padding-top: 0; scroll-padding-top: var(--scroll-padding-top); }
  @media (prefers-color-scheme: dark) {
  html { background-color: var(--color-olive-950); }
}
}
@layer components;
@layer utilities {
  .ayvo { pointer-events: none; }
  .ayvp { position: absolute; }
  .ayvq { position: fixed; }
  .ayvr { position: relative; }
  .ayvs { position: sticky; }
  .ayvt { inset: calc(var(--spacing)*0); }
  .ayvu { top: calc(var(--spacing)*0); }
  .ayvv { bottom: calc(var(--spacing)*0); }
  .ayvw { left: 50%; }
  .ayvx { isolation: isolate; }
  .ayvy { z-index: 10; }
  .ayvz { order: 9999; }
  .aywa { grid-column: span 2 / span 2; }
  .aywb { margin-inline: auto; }
  .aywc { margin-top: calc(var(--spacing)*-2); }
  .aywd { margin-top: calc(var(--spacing)*1); }
  .aywe { margin-top: calc(var(--spacing)*2); }
  .aywf { margin-top: calc(var(--spacing)*4); }
  .aywg { margin-top: calc(var(--spacing)*6); }
  .aywh { display: flex; }
  .aywi { display: grid; }
  .aywj { display: none; }
  .aywk { display: inline-block; }
  .aywl { display: inline-flex; }
  .aywm { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  .aywn { width: calc(var(--spacing)*7); height: calc(var(--spacing)*7); }
  .aywo { width: calc(var(--spacing)*12); height: calc(var(--spacing)*12); }
  .aywp { height: var(--scroll-padding-top); }
  .aywq { height: calc(var(--spacing)*3); }
  .aywr { height: calc(var(--spacing)*8); }
  .ayws { height: calc(var(--spacing)*48); }
  .aywt { height: calc(var(--spacing)*100); }
  .aywu { height: 1lh; }
  .aywv { width: 150vw; }
  .ayww { width: 100%; }
  .aywx { width: 1px; }
  .aywy { max-width: var(--container-2xl); }
  .aywz { max-width: var(--container-3xl); }
  .ayxa { max-width: var(--container-4xl); }
  .ayxb { max-width: var(--container-5xl); }
  .ayxc { max-width: var(--container-7xl); }
  .ayxd { max-width: calc(var(--container-7xl) - (calc(var(--spacing)*10)*2)); }
  .ayxe { max-width: 100%; }
  .ayxf { max-width: var(--container-sm); }
  .ayxg { flex: 1 1 0%; }
  .ayxh { flex-shrink: 0; }
  .ayxi { --tw-translate-x: calc(calc(1/2*100%)*-1); translate: var(--tw-translate-x)var(--tw-translate-y); }
  .ayxj { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .ayxk { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .ayxl { flex-direction: column; }
  .ayxm { place-items: center; }
  .ayxn { align-items: center; }
  .ayxo { align-items: flex-start; }
  .ayxp { align-items: stretch; }
  .ayxq { justify-content: space-between; }
  .ayxr { justify-content: center; }
  .ayxs { justify-content: flex-end; }
  .ayxt { gap: calc(var(--spacing)*1); }
  .ayxu { gap: calc(var(--spacing)*2); }
  .ayxv { gap: calc(var(--spacing)*4); }
  .ayxw { gap: calc(var(--spacing)*5); }
  .ayxx { gap: calc(var(--spacing)*6); }
  .ayxy { gap: calc(var(--spacing)*8); }
  .ayxz { gap: calc(var(--spacing)*10); }
  .ayya { gap: calc(var(--spacing)*16); }
  .ayyb { gap: calc(var(--spacing)*32); }
  :where(.ayyc > :not(:last-child)) { --tw-space-y-reverse: 0; margin-block-start: calc(calc(var(--spacing)*2)*var(--tw-space-y-reverse)); margin-block-end: calc(calc(var(--spacing)*2)*calc(1 - var(--tw-space-y-reverse))); }
  .ayyd { column-gap: calc(var(--spacing)*2); }
  .ayye { column-gap: calc(var(--spacing)*3); }
  .ayyf { column-gap: calc(var(--spacing)*6); }
  .ayyg { row-gap: calc(var(--spacing)*8); }
  .ayyh { row-gap: calc(var(--spacing)*10); }
  .ayyi { row-gap: calc(var(--spacing)*16); }
  :where(.ayyj > :not(:last-child)) { --tw-divide-y-reverse: 0; border-bottom-style: var(--tw-border-style); border-top-style: var(--tw-border-style); border-top-width: calc(1px*var(--tw-divide-y-reverse)); border-bottom-width: calc(1px*calc(1 - var(--tw-divide-y-reverse))); }
  :where(.ayyk > :not(:last-child)) { border-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  :where(.ayyk > :not(:last-child)) { border-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .ayyl { align-self: stretch; }
  .ayym { overflow: clip; }
  .ayyn { overflow: hidden; }
  .ayyo { border-radius: 3.40282e+38px; }
  .ayyp { border-radius: var(--radius-lg); }
  .ayyq { border-radius: var(--radius-md); }
  .ayyr { border-radius: var(--radius-sm); }
  .ayys { border-radius: var(--radius-xl); }
  .ayyt { border-block-style: var(--tw-border-style); border-block-width: 1px; }
  .ayyu { border-bottom-style: var(--tw-border-style); border-bottom-width: 1px; }
  .ayyv { border-left-style: var(--tw-border-style); border-left-width: 1px; }
  .ayyw { border-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayyw { border-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .ayyx { border-color: rgba(12, 12, 9, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayyx { border-color: color-mix(in oklab,var(--color-olive-950)20%,transparent); }
}
  .ayyy { background-color: rgba(0, 0, 0, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayyy { background-color: color-mix(in oklab,var(--color-black)75%,transparent); }
}
  .ayyz { background-color: var(--color-olive-100); }
  .ayza { background-color: var(--color-olive-950); }
  .ayzb { background-color: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayzb { background-color: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .ayzc { background-color: rgba(12, 12, 9, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayzc { background-color: color-mix(in oklab,var(--color-olive-950)5%,transparent); }
}
  .ayzd { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayzd { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .ayze { background-color: rgba(12, 12, 9, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayze { background-color: color-mix(in oklab,var(--color-olive-950)20%,transparent); }
}
  .ayzf { background-color: rgba(255, 255, 255, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayzf { background-color: color-mix(in oklab,var(--color-white)75%,transparent); }
}
  .ayzg { --tw-gradient-position: to bottom; }
  @supports (background-image:linear-gradient(in lab, red, red)) {
  .ayzg { --tw-gradient-position: to bottom in oklab; }
}
  .ayzg { background-image: linear-gradient(var(--tw-gradient-stops)); }
  .ayzh { fill: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayzh { fill: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .ayzi { stroke: var(--color-olive-950); }
  .ayzj { stroke: rgba(12, 12, 9, 0.4); }
  @supports (color:color-mix(in lab, red, red)) {
  .ayzj { stroke: color-mix(in oklab,var(--color-olive-950)40%,transparent); }
}
  .ayzk { padding: calc(var(--spacing)*1.5); }
  .ayzl { padding: calc(var(--spacing)*2); }
  .ayzm { padding: calc(var(--spacing)*6); }
  .ayzn { padding-inline: calc(var(--spacing)*2); }
  .ayzo { padding-inline: calc(var(--spacing)*3); }
  .ayzp { padding-inline: calc(var(--spacing)*3.5); }
  .ayzq { padding-inline: calc(var(--spacing)*4); }
  .ayzr { padding-inline: calc(var(--spacing)*6); }
  .ayzs { padding-block: calc(var(--spacing)*1); }
  .ayzt { padding-block: calc(var(--spacing)*2); }
  .ayzu { padding-block: calc(var(--spacing)*4); }
  .ayzv { padding-block: calc(var(--spacing)*6); }
  .ayzw { padding-block: calc(var(--spacing)*16); }
  .ayzx { padding-top: calc(var(--spacing)*16); }
  .ayzy { padding-right: calc(var(--spacing)*12); }
  .ayzz { padding-bottom: calc(var(--spacing)*4); }
  .azaa { padding-left: calc(var(--spacing)*6); }
  .azab { text-align: left; }
  .azac { font-family: var(--font-display); font-variation-settings: var(--font-display--font-variation-settings); }
  .azad { font-size: var(--text-2xl); line-height: calc(var(--spacing)*8); }
  .azae { font-size: var(--text-2xl); line-height: calc(var(--spacing)*10); }
  .azaf { font-size: var(--text-3xl); line-height: calc(var(--spacing)*10); }
  .azag { font-size: var(--text-5xl); line-height: calc(var(--spacing)*12); }
  .azah { font-size: 2rem; line-height: calc(var(--spacing)*10); }
  .azai { font-size: var(--text-base); line-height: calc(var(--spacing)*7); }
  .azaj { font-size: var(--text-base); line-height: calc(var(--spacing)*8); }
  .azak { font-size: var(--text-lg); line-height: calc(var(--spacing)*8); }
  .azal { font-size: var(--text-sm); line-height: calc(var(--spacing)*6); }
  .azam { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .azan { font-size: var(--text-xs); line-height: calc(var(--spacing)*6); }
  .azao { --tw-font-weight: var(--font-weight-medium); font-weight: var(--font-weight-medium); }
  .azap { --tw-font-weight: var(--font-weight-semibold); font-weight: var(--font-weight-semibold); }
  .azaq { --tw-tracking: var(--tracking-tight); letter-spacing: var(--tracking-tight); }
  .azar { text-wrap: balance; }
  .azas { text-wrap: pretty; }
  .azat { color: var(--color-olive-500); }
  .azau { color: var(--color-olive-600); }
  .azav { color: var(--color-olive-700); }
  .azaw { color: var(--color-olive-950); }
  .azax { color: var(--color-white); }
  .azay { -webkit-font-smoothing: antialiased; }
  .azaz { color-scheme: light dark; }
  .azba { opacity: 0; }
  .azbb { opacity: 0.3; }
  .azbc { mix-blend-mode: overlay; }
  .azbd { outline-style: var(--tw-outline-style); outline-width: 1px; }
  .azbe { outline-offset: calc(-1px); }
  .azbf { outline-color: rgba(0, 0, 0, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .azbf { outline-color: color-mix(in oklab,var(--color-black)5%,transparent); }
}
  .azbg { transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events; transition-timing-function: var(--tw-ease,var(--default-transition-timing-function)); transition-duration: var(--tw-duration,var(--default-transition-duration)); }
  .azbh { --padding: min(10%,calc(var(--spacing)*16)); }
  :is(.azbi > *) { position: relative; }
  :is(.azbj > *) { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  :is(.azbk > *) { width: 100%; height: 100%; }
  :is(.azbl > *) { object-fit: cover; }
  :is(.azbm > *) { --tw-ring-shadow: var(--tw-ring-inset,)0 0 0 calc(1px + var(--tw-ring-offset-width))var(--tw-ring-color,currentcolor); box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow); }
  :is(.azbn > *) { --tw-ring-color: #0000001a; }
  @supports (color:color-mix(in lab, red, red)) {
  :is(.azbn > *) { --tw-ring-color: color-mix(in oklab,var(--color-black)10%,transparent); }
}
  .azbo:not(:where([aria-expanded="true"]) *) { display: none; }
  @media not all and (prefers-color-scheme: dark) {
  .azbp { display: none; }
  .azbq { background-color: rgba(255, 255, 255, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .azbq { background-color: color-mix(in oklab,var(--color-white)75%,transparent); }
}
}
  @media (hover: hover) {
  .azbr:is(:where(.azbs):hover *) { opacity: 1; }
}
  .azbt:is(:where(.azbs)[data-placement="bottom"] *) { padding-inline: var(--padding); }
  .azbu:is(:where(.azbs)[data-placement="bottom"] *) { padding-top: var(--padding); }
  :is(.azbv:is(:where(.azbs)[data-placement="bottom"] *) > *) { border-top-left-radius: var(--radius-sm); border-top-right-radius: var(--radius-sm); }
  .azbw:is(:where(.azbs)[data-placement="bottom-left"] *) { padding-top: var(--padding); }
  .azbx:is(:where(.azbs)[data-placement="bottom-left"] *) { padding-right: var(--padding); }
  :is(.azby:is(:where(.azbs)[data-placement="bottom-left"] *) > *) { border-top-right-radius: var(--radius-sm); }
  .azbz:is(:where(.azbs)[data-placement="bottom-right"] *) { padding-top: var(--padding); }
  .azca:is(:where(.azbs)[data-placement="bottom-right"] *) { padding-left: var(--padding); }
  :is(.azcb:is(:where(.azbs)[data-placement="bottom-right"] *) > *) { border-top-left-radius: var(--radius-sm); }
  .azcc:is(:where(.azbs)[data-placement="top"] *) { padding-inline: var(--padding); }
  .azcd:is(:where(.azbs)[data-placement="top"] *) { padding-bottom: var(--padding); }
  :is(.azce:is(:where(.azbs)[data-placement="top"] *) > *) { border-bottom-right-radius: var(--radius-sm); border-bottom-left-radius: var(--radius-sm); }
  .azcf:is(:where(.azbs)[data-placement="top-left"] *) { padding-right: var(--padding); }
  .azcg:is(:where(.azbs)[data-placement="top-left"] *) { padding-bottom: var(--padding); }
  :is(.azch:is(:where(.azbs)[data-placement="top-left"] *) > *) { border-bottom-right-radius: var(--radius-sm); }
  .azci:is(:where(.azbs)[data-placement="top-right"] *) { padding-bottom: var(--padding); }
  .azcj:is(:where(.azbs)[data-placement="top-right"] *) { padding-left: var(--padding); }
  :is(.azck:is(:where(.azbs)[data-placement="top-right"] *) > *) { border-bottom-left-radius: var(--radius-sm); }
  .azcl::backdrop { background-color: rgba(0, 0, 0, 0); }
  .azcm::after { content: var(--tw-content); position: absolute; }
  .azcn::after { content: var(--tw-content); inset: calc(var(--spacing)*-2); }
  :is(.azco > *):first-child::before { content: var(--tw-content); position: absolute; }
  :is(.azcp > *):first-child::before { content: var(--tw-content); display: inline; }
  :is(.azcq > *):first-child::before { content: var(--tw-content); --tw-translate-x: -100%; translate: var(--tw-translate-x)var(--tw-translate-y); }
  :is(.azcr > *):first-child::before { --tw-content: "“"; content: var(--tw-content); }
  :is(.azcs > *):last-child::after { content: var(--tw-content); display: inline; }
  :is(.azct > *):last-child::after { --tw-content: "”"; content: var(--tw-content); }
  @media (hover: hover) {
  .azcu:hover { background-color: var(--color-olive-800); }
  .azcv:hover { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .azcv:hover { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .azcw:hover { background-color: rgba(12, 12, 9, 0.15); }
  @supports (color:color-mix(in lab, red, red)) {
  .azcw:hover { background-color: color-mix(in oklab,var(--color-olive-950)15%,transparent); }
}
}
  .azcx:focus { --tw-outline-style: none; outline-style: none; }
  @media (forced-colors: active) {
  .azcx:focus { outline-offset: 2px; outline: rgba(0, 0, 0, 0) solid 2px; }
}
  :where([aria-expanded="true"]) .azcy { display: none; }
  .azcz:has(:is(input:focus)) { border-color: var(--color-olive-950); }
  .azda[data-color="blue"] { --tw-gradient-from: #637c86; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azdb[data-color="blue"] { --tw-gradient-to: #778599; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azdc[data-color="brown"] { --tw-gradient-from: #8d7359; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azdd[data-color="brown"] { --tw-gradient-to: #765959; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azde[data-color="green"] { --tw-gradient-from: #9ca88f; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azdf[data-color="green"] { --tw-gradient-to: #596352; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azdg[data-color="purple"] { --tw-gradient-from: #7b627d; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azdh[data-color="purple"] { --tw-gradient-to: #8f6976; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  @media not all and (min-width: 80rem) {
  .azdi { display: none; }
}
  @media not all and (min-width: 64rem) {
  .azdj { display: none; }
}
  @media not all and (min-width: 48rem) {
  .azdk { display: none; }
}
  @media not all and (min-width: 40rem) {
  .azdl { display: none; }
  .azdm { flex-direction: column; }
}
  @media (min-width: 40rem) {
  .azdn { display: none; }
  .azdo { height: calc(var(--spacing)*64); }
  .azdp { grid-auto-columns: minmax(0px, 1fr); }
  .azdq { grid-auto-flow: column dense; }
  .azdr { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .azds { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .azdt { align-items: center; }
  .azdu { align-items: flex-start; }
  .azdv { gap: calc(var(--spacing)*10); }
  .azdw { gap: calc(var(--spacing)*16); }
  .azdx { column-gap: calc(var(--spacing)*10); }
  .azdy { text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
  .azdz { border-radius: 3.40282e+38px; }
  .azea { padding: calc(var(--spacing)*10); }
  .azeb { padding-inline: calc(var(--spacing)*3); }
  .azec { padding-block: calc(var(--spacing)*.5); }
  .azed { font-size: var(--text-5xl); line-height: calc(var(--spacing)*14); }
  .azee { font-size: 5rem; line-height: calc(var(--spacing)*20); }
  .azef:has(> :last-child:nth-child(3)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .azeg:has(> :nth-child(5)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .azeh:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  @media not all and (min-width: 64rem) {
  .azei:has(> :last-child:nth-child(2n)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}
}
  @media (min-width: 48rem) {
  .azej { display: none; }
  .azek { max-width: var(--container-3xl); }
  .azel:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
}
  @media (min-width: 64rem) {
  .azem { margin-inline: auto; }
  .azen { display: none; }
  .azeo { display: inline-grid; }
  .azep { height: calc(var(--spacing)*36); }
  .azeq { max-width: var(--container-7xl); }
  .azer { grid-auto-columns: minmax(0px, 1fr); }
  .azes { grid-auto-flow: column; }
  .azet { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .azeu { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .azev { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .azew { grid-template-columns: none; }
  .azex { gap: calc(var(--spacing)*12); }
  .azey { padding: calc(var(--spacing)*6); }
  .azez { padding-inline: calc(var(--spacing)*10); }
  .azfa { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .azfb:has(> :nth-child(5)) { grid-auto-flow: row; }
  .azfc:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  @media not all and (min-width: 80rem) {
  .azfd:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}
}
  @media (min-width: 80rem) {
  .azfe { display: none; }
}
  @media (prefers-color-scheme: dark) {
  .azff { display: none; }
  :where(.azfg > :not(:last-child)) { border-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  :where(.azfg > :not(:last-child)) { border-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .azfh { border-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfh { border-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .azfi { border-color: rgba(255, 255, 255, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfi { border-color: color-mix(in oklab,var(--color-white)20%,transparent); }
}
  .azfj { background-color: rgba(0, 0, 0, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfj { background-color: color-mix(in oklab,var(--color-black)75%,transparent); }
}
  .azfk { background-color: var(--color-olive-300); }
  .azfl { background-color: var(--color-olive-950); }
  .azfm { background-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfm { background-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .azfn { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfn { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .azfo { fill: rgba(255, 255, 255, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfo { fill: color-mix(in oklab,var(--color-white)2.5%,transparent); }
}
  .azfp { stroke: var(--color-white); }
  .azfq { stroke: rgba(255, 255, 255, 0.4); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfq { stroke: color-mix(in oklab,var(--color-white)40%,transparent); }
}
  .azfr { color: var(--color-olive-400); }
  .azfs { color: var(--color-olive-500); }
  .azft { color: var(--color-olive-950); }
  .azfu { color: var(--color-white); }
  .azfv { opacity: 0.25; }
  .azfw { --tw-inset-ring-shadow: inset 0 0 0 1px var(--tw-inset-ring-color,currentcolor); box-shadow: var(--tw-inset-shadow),var(--tw-inset-ring-shadow),var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow); }
  .azfx { --tw-inset-ring-color: #ffffff0d; }
  @supports (color:color-mix(in lab, red, red)) {
  .azfx { --tw-inset-ring-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .azfy { outline-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .azfy { outline-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .azfz::after { content: var(--tw-content); position: absolute; }
  .azga::after { content: var(--tw-content); inset: calc(var(--spacing)*0); }
  .azgb::after { content: var(--tw-content); border-radius: var(--radius-sm); }
  .azgc::after { content: var(--tw-content); outline-style: var(--tw-outline-style); outline-width: 1px; }
  .azgd::after { content: var(--tw-content); outline-offset: calc(-1px); }
  .azge::after { content: var(--tw-content); outline-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .azge::after { outline-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  @media (hover: hover) {
  .azgf:hover { background-color: var(--color-olive-200); }
  .azgg:hover { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .azgg:hover { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .azgh:hover { background-color: rgba(255, 255, 255, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .azgh:hover { background-color: color-mix(in oklab,var(--color-white)20%,transparent); }
}
}
  .azgi:has(:is(input:focus)) { border-color: var(--color-white); }
  .azgj[data-color="blue"] { --tw-gradient-from: #243a42; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azgk[data-color="blue"] { --tw-gradient-to: #232f40; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azgl[data-color="brown"] { --tw-gradient-from: #382d23; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azgm[data-color="brown"] { --tw-gradient-to: #3d2323; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azgn[data-color="green"] { --tw-gradient-from: #333a2b; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azgo[data-color="green"] { --tw-gradient-to: #26361b; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azgp[data-color="purple"] { --tw-gradient-from: #412c42; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
  .azgq[data-color="purple"] { --tw-gradient-to: #3c1a26; --tw-gradient-stops: var(--tw-gradient-via-stops,var(--tw-gradient-position),var(--tw-gradient-from)var(--tw-gradient-from-position),var(--tw-gradient-to)var(--tw-gradient-to-position)); }
}
  .azgr::after { content: var(--tw-content); }
  @media (pointer: fine) {
  .azgr::after { display: none; }
}
}
@property --tw-translate-x { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-y { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-z { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-space-y-reverse { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-divide-y-reverse { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-border-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-font-weight { syntax: "*"; inherits: false; }
@property --tw-tracking { syntax: "*"; inherits: false; }
@property --tw-outline-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-shadow-color { syntax: "*"; inherits: false; }
@property --tw-shadow-alpha { syntax: "<percentage>"; inherits: false; initial-value: 100%; }
@property --tw-inset-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-inset-shadow-color { syntax: "*"; inherits: false; }
@property --tw-inset-shadow-alpha { syntax: "<percentage>"; inherits: false; initial-value: 100%; }
@property --tw-ring-color { syntax: "*"; inherits: false; }
@property --tw-ring-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-inset-ring-color { syntax: "*"; inherits: false; }
@property --tw-inset-ring-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-ring-inset { syntax: "*"; inherits: false; }
@property --tw-ring-offset-width { syntax: "<length>"; inherits: false; initial-value: 0; }
@property --tw-ring-offset-color { syntax: "*"; inherits: false; initial-value: #fff; }
@property --tw-ring-offset-shadow { syntax: "*"; inherits: false; initial-value: 0 0 #0000; }
@property --tw-content { syntax: "*"; inherits: false; initial-value: ""; }
@property --tw-gradient-position { syntax: "*"; inherits: false; }
@property --tw-gradient-from { syntax: "<color>"; inherits: false; initial-value: #0000; }
@property --tw-gradient-via { syntax: "<color>"; inherits: false; initial-value: #0000; }
@property --tw-gradient-to { syntax: "<color>"; inherits: false; initial-value: #0000; }
@property --tw-gradient-stops { syntax: "*"; inherits: false; }
@property --tw-gradient-via-stops { syntax: "*"; inherits: false; }
@property --tw-gradient-from-position { syntax: "<length-percentage>"; inherits: false; initial-value: 0%; }
@property --tw-gradient-via-position { syntax: "<length-percentage>"; inherits: false; initial-value: 50%; }
@property --tw-gradient-to-position { syntax: "<length-percentage>"; inherits: false; initial-value: 100%; }
:root { --scroll-padding-top: 5.25rem; }