@layer properties {
  @supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
  *, ::before, ::after, ::backdrop { --tw-space-y-reverse: 0; --tw-divide-y-reverse: 0; --tw-border-style: solid; --tw-font-weight: initial; --tw-tracking: initial; --tw-outline-style: solid; --tw-content: ""; --tw-translate-x: 0; --tw-translate-y: 0; --tw-translate-z: 0; }
}
}
@layer theme {
  :root, :host { --font-sans: "Inter",system-ui,sans-serif; --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --color-olive-100: oklch(96.6% .005 106.5); --color-olive-200: oklch(93% .007 106.5); --color-olive-300: oklch(88% .011 106.6); --color-olive-400: oklch(73.7% .021 106.9); --color-olive-500: oklch(58% .031 107.3); --color-olive-600: oklch(46.6% .025 107.3); --color-olive-700: oklch(39.4% .023 107.4); --color-olive-800: oklch(28.6% .016 107.4); --color-olive-950: oklch(15.3% .006 107.1); --color-black: #000; --color-white: #fff; --spacing: .25rem; --container-sm: 24rem; --container-xl: 36rem; --container-2xl: 42rem; --container-3xl: 48rem; --container-4xl: 56rem; --container-5xl: 64rem; --container-7xl: 80rem; --text-xs: .75rem; --text-sm: .875rem; --text-base: 1rem; --text-lg: 1.125rem; --text-2xl: 1.5rem; --text-3xl: 1.875rem; --text-5xl: 3rem; --font-weight-normal: 400; --font-weight-medium: 500; --font-weight-semibold: 600; --tracking-tight: -.025em; --radius-sm: .25rem; --radius-xl: .75rem; --default-transition-duration: .15s; --default-transition-timing-function: cubic-bezier(.4,0,.2,1); --default-font-family: var(--font-sans); --default-mono-font-family: var(--font-mono); --font-display: "Instrument Serif",serif; --font-display--font-variation-settings: "wdth" 112.5; }
}
@layer base {
  *, ::after, ::before, ::backdrop { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  ::file-selector-button { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  html, :host { text-size-adjust: 100%; tab-size: 4; line-height: 1.5; font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"); font-feature-settings: var(--default-font-feature-settings,normal); font-variation-settings: var(--default-font-variation-settings,normal); -webkit-tap-highlight-color: transparent; }
  hr { height: 0px; color: inherit; border-top-width: 1px; }
  abbr:where([title]) { text-decoration: underline dotted; }
  h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
  a { color: inherit; text-decoration: inherit; }
  b, strong { font-weight: bolder; }
  code, kbd, samp, pre { font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace); font-feature-settings: var(--default-mono-font-feature-settings,normal); font-variation-settings: var(--default-mono-font-variation-settings,normal); font-size: 1em; }
  small { font-size: 80%; }
  sub, sup { vertical-align: baseline; font-size: 75%; line-height: 0; position: relative; }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }
  table { text-indent: 0px; border-color: inherit; border-collapse: collapse; }
  progress { vertical-align: baseline; }
  summary { display: list-item; }
  ol, ul, menu { list-style: none; }
  img, svg, video, canvas, audio, iframe, embed, object { vertical-align: middle; display: block; }
  img, video { max-width: 100%; height: auto; }
  button, input, select, optgroup, textarea { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  ::file-selector-button { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  :where(select:is([multiple], [size])) optgroup { font-weight: bolder; }
  :where(select:is([multiple], [size])) optgroup option { padding-inline-start: 20px; }
  ::file-selector-button { margin-inline-end: 4px; }
  ::placeholder { opacity: 1; }
  @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
  ::placeholder { color: currentcolor; }
  @supports (color:color-mix(in lab, red, red)) {
  ::placeholder { color: color-mix(currentcolor, transparent); }
}
}
  textarea { resize: vertical; }
  ::-webkit-search-decoration { appearance: none; }
  ::-webkit-date-and-time-value { min-height: 1lh; text-align: inherit; }
  ::-webkit-datetime-edit { display: inline-flex; }
  ::-webkit-datetime-edit-fields-wrapper { padding: 0px; }
  ::-webkit-datetime-edit { padding-block: 0px; }
  ::-webkit-datetime-edit-year-field { padding-block: 0px; }
  ::-webkit-datetime-edit-month-field { padding-block: 0px; }
  ::-webkit-datetime-edit-day-field { padding-block: 0px; }
  ::-webkit-datetime-edit-hour-field { padding-block: 0px; }
  ::-webkit-datetime-edit-minute-field { padding-block: 0px; }
  ::-webkit-datetime-edit-second-field { padding-block: 0px; }
  ::-webkit-datetime-edit-millisecond-field { padding-block: 0px; }
  ::-webkit-datetime-edit-meridiem-field { padding-block: 0px; }
  ::-webkit-calendar-picker-indicator { line-height: 1; }
  button, input:where([type="button"], [type="reset"], [type="submit"]) { appearance: button; }
  ::file-selector-button { appearance: button; }
  ::-webkit-inner-spin-button { height: auto; }
  ::-webkit-outer-spin-button { height: auto; }
  [hidden]:where(:not([hidden="until-found"])) { display: none !important; }
  html { -webkit-font-smoothing: antialiased; background-color: var(--color-olive-100); --scroll-padding-top: 0; scroll-padding-top: var(--scroll-padding-top); }
  @media (prefers-color-scheme: dark) {
  html { background-color: var(--color-olive-950); }
}
}
@layer components;
@layer utilities {
  .ahxx { position: fixed; }
  .ahxy { position: relative; }
  .ahxz { position: sticky; }
  .ahya { inset: calc(var(--spacing)*0); }
  .ahyb { top: var(--scroll-padding-top); }
  .ahyc { top: calc(var(--spacing)*0); }
  .ahyd { isolation: isolate; }
  .ahye { z-index: 10; }
  .ahyf { order: 9999; }
  .ahyg { margin-inline: auto; }
  .ahyh { margin-top: calc(var(--spacing)*-2); }
  .ahyi { margin-top: calc(var(--spacing)*1); }
  .ahyj { margin-top: calc(var(--spacing)*2); }
  .ahyk { margin-top: calc(var(--spacing)*4); }
  .ahyl { margin-top: calc(var(--spacing)*6); }
  .ahym { margin-bottom: -1px; }
  .ahyn { display: flex; }
  .ahyo { display: grid; }
  .ahyp { display: none; }
  .ahyq { display: inline-block; }
  .ahyr { display: inline-flex; }
  .ahys { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  .ahyt { width: calc(var(--spacing)*7); height: calc(var(--spacing)*7); }
  .ahyu { height: var(--scroll-padding-top); }
  .ahyv { height: calc(var(--spacing)*8); }
  .ahyw { height: 1lh; }
  .ahyx { width: 25%; }
  .ahyy { width: 40%; }
  .ahyz { width: 75%; }
  .ahza { width: 100%; }
  .ahzb { max-width: var(--container-2xl); }
  .ahzc { max-width: var(--container-3xl); }
  .ahzd { max-width: var(--container-4xl); }
  .ahze { max-width: var(--container-7xl); }
  .ahzf { max-width: var(--container-sm); }
  .ahzg { max-width: var(--container-xl); }
  .ahzh { flex: 1 1 0%; }
  .ahzi { flex-shrink: 0; }
  .ahzj { border-collapse: collapse; }
  .ahzk { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .ahzl { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .ahzm { flex-direction: column; }
  .ahzn { place-items: center; }
  .ahzo { align-items: center; }
  .ahzp { align-items: flex-start; }
  .ahzq { align-items: stretch; }
  .ahzr { justify-content: space-between; }
  .ahzs { justify-content: center; }
  .ahzt { justify-content: flex-end; }
  .ahzu { gap: calc(var(--spacing)*1); }
  .ahzv { gap: calc(var(--spacing)*2); }
  .ahzw { gap: calc(var(--spacing)*4); }
  .ahzx { gap: calc(var(--spacing)*5); }
  .ahzy { gap: calc(var(--spacing)*6); }
  .ahzz { gap: calc(var(--spacing)*8); }
  .aiaa { gap: calc(var(--spacing)*10); }
  .aiab { gap: calc(var(--spacing)*16); }
  :where(.aiac > :not(:last-child)) { --tw-space-y-reverse: 0; margin-block-start: calc(calc(var(--spacing)*2)*var(--tw-space-y-reverse)); margin-block-end: calc(calc(var(--spacing)*2)*calc(1 - var(--tw-space-y-reverse))); }
  .aiad { column-gap: calc(var(--spacing)*2); }
  .aiae { column-gap: calc(var(--spacing)*6); }
  .aiaf { row-gap: calc(var(--spacing)*10); }
  .aiag { row-gap: calc(var(--spacing)*16); }
  :where(.aiah > :not(:last-child)) { --tw-divide-y-reverse: 0; border-bottom-style: var(--tw-border-style); border-top-style: var(--tw-border-style); border-top-width: calc(1px*var(--tw-divide-y-reverse)); border-bottom-width: calc(1px*calc(1 - var(--tw-divide-y-reverse))); }
  :where(.aiai > :not(:last-child)) { border-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  :where(.aiai > :not(:last-child)) { border-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aiaj { align-self: stretch; }
  .aiak { overflow: clip; }
  .aial { overflow: hidden; }
  .aiam { border-radius: 3.40282e+38px; }
  .aian { border-radius: var(--radius-sm); }
  .aiao { border-radius: var(--radius-xl); }
  .aiap { border-block-style: var(--tw-border-style); border-block-width: 1px; }
  .aiaq { border-top-style: var(--tw-border-style); border-top-width: 1px; }
  .aiar { border-bottom-style: var(--tw-border-style); border-bottom-width: 1px; }
  .aias { border-color: rgba(12, 12, 9, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aias { border-color: color-mix(in oklab,var(--color-olive-950)5%,transparent); }
}
  .aiat { border-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aiat { border-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aiau { border-color: rgba(12, 12, 9, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .aiau { border-color: color-mix(in oklab,var(--color-olive-950)20%,transparent); }
}
  .aiav { border-top-color: rgba(12, 12, 9, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aiav { border-top-color: color-mix(in oklab,var(--color-olive-950)5%,transparent); }
}
  .aiaw { border-bottom-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aiaw { border-bottom-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aiax { border-bottom-color: rgba(0, 0, 0, 0); }
  .aiay { background-color: var(--color-olive-100); }
  .aiaz { background-color: var(--color-olive-950); }
  .aiba { background-color: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .aiba { background-color: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .aibb { background-color: rgba(12, 12, 9, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aibb { background-color: color-mix(in oklab,var(--color-olive-950)5%,transparent); }
}
  .aibc { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aibc { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aibd { stroke: var(--color-olive-950); }
  .aibe { padding: calc(var(--spacing)*1); }
  .aibf { padding: calc(var(--spacing)*1.5); }
  .aibg { padding: calc(var(--spacing)*2); }
  .aibh { padding: calc(var(--spacing)*3); }
  .aibi { padding: calc(var(--spacing)*6); }
  .aibj { padding-inline: calc(var(--spacing)*2); }
  .aibk { padding-inline: calc(var(--spacing)*3); }
  .aibl { padding-inline: calc(var(--spacing)*4); }
  .aibm { padding-inline: calc(var(--spacing)*6); }
  .aibn { padding-block: calc(var(--spacing)*1); }
  .aibo { padding-block: calc(var(--spacing)*2); }
  .aibp { padding-block: calc(var(--spacing)*4); }
  .aibq { padding-block: calc(var(--spacing)*5); }
  .aibr { padding-block: calc(var(--spacing)*6); }
  .aibs { padding-block: calc(var(--spacing)*16); }
  .aibt { padding-top: calc(var(--spacing)*14); }
  .aibu { padding-top: calc(var(--spacing)*16); }
  .aibv { padding-right: calc(var(--spacing)*3); }
  .aibw { padding-right: calc(var(--spacing)*12); }
  .aibx { padding-bottom: calc(var(--spacing)*4); }
  .aiby { text-align: center; }
  .aibz { text-align: left; }
  .aica { font-family: var(--font-display); font-variation-settings: var(--font-display--font-variation-settings); }
  .aicb { font-size: var(--text-2xl); line-height: calc(var(--spacing)*8); }
  .aicc { font-size: var(--text-2xl); line-height: calc(var(--spacing)*9); }
  .aicd { font-size: var(--text-3xl); line-height: calc(var(--spacing)*10); }
  .aice { font-size: var(--text-5xl); line-height: calc(var(--spacing)*12); }
  .aicf { font-size: 2rem; line-height: calc(var(--spacing)*10); }
  .aicg { font-size: var(--text-base); line-height: calc(var(--spacing)*7); }
  .aich { font-size: var(--text-lg); line-height: calc(var(--spacing)*8); }
  .aici { font-size: var(--text-sm); line-height: calc(var(--spacing)*5); }
  .aicj { font-size: var(--text-sm); line-height: calc(var(--spacing)*6); }
  .aick { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .aicl { font-size: var(--text-xs); line-height: calc(var(--spacing)*6); }
  .aicm { --tw-font-weight: var(--font-weight-medium); font-weight: var(--font-weight-medium); }
  .aicn { --tw-font-weight: var(--font-weight-normal); font-weight: var(--font-weight-normal); }
  .aico { --tw-font-weight: var(--font-weight-semibold); font-weight: var(--font-weight-semibold); }
  .aicp { --tw-tracking: var(--tracking-tight); letter-spacing: var(--tracking-tight); }
  .aicq { text-wrap: balance; }
  .aicr { text-wrap: pretty; }
  .aics { color: var(--color-olive-500); }
  .aict { color: var(--color-olive-600); }
  .aicu { color: var(--color-olive-700); }
  .aicv { color: var(--color-olive-950); }
  .aicw { color: var(--color-white); }
  .aicx { -webkit-font-smoothing: antialiased; }
  .aicy { color-scheme: light dark; }
  .aicz { opacity: 0; }
  .aida { outline-style: var(--tw-outline-style); outline-width: 1px; }
  .aidb { outline-offset: calc(-1px); }
  .aidc { outline-color: rgba(0, 0, 0, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aidc { outline-color: color-mix(in oklab,var(--color-black)5%,transparent); }
}
  .aidd { transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events; transition-timing-function: var(--tw-ease,var(--default-transition-timing-function)); transition-duration: var(--tw-duration,var(--default-transition-duration)); }
  :is(.aide > *) { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  :is(.aidf > *) { object-fit: cover; }
  .aidg:not(:where([aria-expanded="true"]) *) { display: none; }
  @media not all and (prefers-color-scheme: dark) {
  .aidh { display: none; }
  .aidi { background-color: rgba(255, 255, 255, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .aidi { background-color: color-mix(in oklab,var(--color-white)75%,transparent); }
}
}
  .aidj:is(:where(.aidk):first-child *) { border-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aidj:is(:where(.aidk):first-child *) { border-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  @media (hover: hover) {
  .aidl:is(:where(.aidk):hover *) { opacity: 1; }
}
  .aidm::backdrop { background-color: rgba(0, 0, 0, 0); }
  .aidn::after { content: var(--tw-content); position: absolute; }
  .aido::after { content: var(--tw-content); inset: calc(var(--spacing)*-2); }
  :is(.aidp > *):first-child::before { content: var(--tw-content); position: absolute; }
  :is(.aidq > *):first-child::before { content: var(--tw-content); display: inline; }
  :is(.aidr > *):first-child::before { content: var(--tw-content); --tw-translate-x: -100%; translate: var(--tw-translate-x)var(--tw-translate-y); }
  :is(.aids > *):first-child::before { --tw-content: "“"; content: var(--tw-content); }
  :is(.aidt > *):last-child::after { content: var(--tw-content); display: inline; }
  :is(.aidu > *):last-child::after { --tw-content: "”"; content: var(--tw-content); }
  @media (hover: hover) {
  .aidv:hover { background-color: var(--color-olive-800); }
  .aidw:hover { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aidw:hover { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aidx:hover { background-color: rgba(12, 12, 9, 0.15); }
  @supports (color:color-mix(in lab, red, red)) {
  .aidx:hover { background-color: color-mix(in oklab,var(--color-olive-950)15%,transparent); }
}
}
  .aidy:focus { --tw-outline-style: none; outline-style: none; }
  @media (forced-colors: active) {
  .aidy:focus { outline-offset: 2px; outline: rgba(0, 0, 0, 0) solid 2px; }
}
  :where([aria-expanded="true"]) .aidz { display: none; }
  .aiea:has(:is(input:focus)), .aieb[aria-selected="true"] { border-color: var(--color-olive-950); }
  .aiec[aria-selected="true"] { background-color: var(--color-olive-950); }
  .aied[aria-selected="true"] { color: var(--color-olive-950); }
  .aiee[aria-selected="true"] { color: var(--color-white); }
  @media not all and (min-width: 64rem) {
  .aief { display: none; }
}
  @media not all and (min-width: 40rem) {
  .aieg { display: none; }
}
  @media (min-width: 40rem) {
  .aieh { display: none; }
  .aiei { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .aiej { align-items: flex-start; }
  .aiek { gap: calc(var(--spacing)*10); }
  .aiel { column-gap: calc(var(--spacing)*10); }
  .aiem { padding: calc(var(--spacing)*10); }
  .aien { font-size: var(--text-5xl); line-height: calc(var(--spacing)*14); }
  .aieo { font-size: 5rem; line-height: calc(var(--spacing)*20); }
  .aiep:has(> :last-child:nth-child(3)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .aieq:has(> :nth-child(5)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .aier:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  @media not all and (min-width: 64rem) {
  .aies:has(> :last-child:nth-child(2n)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}
}
  @media (min-width: 48rem) {
  .aiet { max-width: var(--container-3xl); }
  .aieu:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
}
  @media (min-width: 64rem) {
  .aiev { margin-inline: auto; }
  .aiew { display: none; }
  .aiex { display: inline-grid; }
  .aiey { max-width: var(--container-5xl); }
  .aiez { max-width: var(--container-7xl); }
  .aifa { grid-auto-columns: minmax(0px, 1fr); }
  .aifb { grid-auto-flow: column; }
  .aifc { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .aifd { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .aife { grid-template-columns: none; }
  .aiff { gap: calc(var(--spacing)*12); }
  .aifg { padding-inline: calc(var(--spacing)*10); }
  .aifh { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .aifi:has(> :nth-child(5)) { grid-auto-flow: row; }
  .aifj:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  @media not all and (min-width: 80rem) {
  .aifk:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}
}
  @media (prefers-color-scheme: dark) {
  .aifl { display: none; }
  :where(.aifm > :not(:last-child)) { border-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  :where(.aifm > :not(:last-child)) { border-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aifn { border-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifn { border-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .aifo { border-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifo { border-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aifp { border-color: rgba(255, 255, 255, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifp { border-color: color-mix(in oklab,var(--color-white)20%,transparent); }
}
  .aifq { border-top-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifq { border-top-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .aifr { border-bottom-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifr { border-bottom-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aifs { background-color: rgba(0, 0, 0, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifs { background-color: color-mix(in oklab,var(--color-black)75%,transparent); }
}
  .aift { background-color: var(--color-olive-300); }
  .aifu { background-color: var(--color-olive-950); }
  .aifv { background-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifv { background-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .aifw { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aifw { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aifx { stroke: var(--color-white); }
  .aify { color: var(--color-olive-400); }
  .aifz { color: var(--color-olive-500); }
  .aiga { color: var(--color-olive-950); }
  .aigb { color: var(--color-white); }
  .aigc { outline-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aigc { outline-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .aigd:is(:where(.aidk):first-child *) { border-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aigd:is(:where(.aidk):first-child *) { border-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  @media (hover: hover) {
  .aige:hover { background-color: var(--color-olive-200); }
  .aigf:hover { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aigf:hover { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aigg:hover { background-color: rgba(255, 255, 255, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .aigg:hover { background-color: color-mix(in oklab,var(--color-white)20%,transparent); }
}
}
  .aigh:has(:is(input:focus)), .aigi[aria-selected="true"] { border-color: var(--color-white); }
  .aigj[aria-selected="true"] { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aigj[aria-selected="true"] { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aigk[aria-selected="true"] { color: var(--color-white); }
}
  .aigl::after { content: var(--tw-content); }
  @media (pointer: fine) {
  .aigl::after { display: none; }
}
}
@property --tw-space-y-reverse { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-divide-y-reverse { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-border-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-font-weight { syntax: "*"; inherits: false; }
@property --tw-tracking { syntax: "*"; inherits: false; }
@property --tw-outline-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-content { syntax: "*"; inherits: false; initial-value: ""; }
@property --tw-translate-x { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-y { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-z { syntax: "*"; inherits: false; initial-value: 0; }
:root { --scroll-padding-top: 5.25rem; }