@font-face {
	font-family: "Instrument Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./InstrumentSans-400.woff2") format("woff2");
}
@font-face {
	font-family: "Instrument Sans";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./InstrumentSans-500.woff2") format("woff2");
}
@font-face {
	font-family: "Instrument Sans";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./InstrumentSans-600.woff2") format("woff2");
}
@font-face {
	font-family: "Instrument Sans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./InstrumentSans-700.woff2") format("woff2");
}
@font-face {
	font-family: "Inter Tight";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./InterTight-400.woff2") format("woff2");
}
@font-face {
	font-family: "Inter Tight";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./InterTight-500.woff2") format("woff2");
}
@font-face {
	font-family: "Inter Tight";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./InterTight-600.woff2") format("woff2");
}
