@layer properties {
  @supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
  *, ::before, ::after, ::backdrop { --tw-translate-x: 0; --tw-translate-y: 0; --tw-translate-z: 0; --tw-border-style: solid; --tw-font-weight: initial; --tw-tracking: initial; --tw-outline-style: solid; --tw-content: ""; }
}
}
@layer theme {
  :root, :host { --font-sans: "Inter",system-ui,sans-serif; --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --color-olive-100: oklch(96.6% .005 106.5); --color-olive-200: oklch(93% .007 106.5); --color-olive-300: oklch(88% .011 106.6); --color-olive-400: oklch(73.7% .021 106.9); --color-olive-500: oklch(58% .031 107.3); --color-olive-600: oklch(46.6% .025 107.3); --color-olive-700: oklch(39.4% .023 107.4); --color-olive-800: oklch(28.6% .016 107.4); --color-olive-950: oklch(15.3% .006 107.1); --color-black: #000; --color-white: #fff; --spacing: .25rem; --container-sm: 24rem; --container-2xl: 42rem; --container-3xl: 48rem; --container-4xl: 56rem; --container-5xl: 64rem; --container-7xl: 80rem; --text-sm: .875rem; --text-base: 1rem; --text-lg: 1.125rem; --text-2xl: 1.5rem; --text-3xl: 1.875rem; --text-5xl: 3rem; --font-weight-medium: 500; --font-weight-semibold: 600; --tracking-tight: -.025em; --radius-sm: .25rem; --radius-xl: .75rem; --default-font-family: var(--font-sans); --default-mono-font-family: var(--font-mono); --font-display: "Instrument Serif",serif; --font-display--font-variation-settings: "wdth" 112.5; }
}
@layer base {
  *, ::after, ::before, ::backdrop { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  ::file-selector-button { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  html, :host { text-size-adjust: 100%; tab-size: 4; line-height: 1.5; font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"); font-feature-settings: var(--default-font-feature-settings,normal); font-variation-settings: var(--default-font-variation-settings,normal); -webkit-tap-highlight-color: transparent; }
  hr { height: 0px; color: inherit; border-top-width: 1px; }
  abbr:where([title]) { text-decoration: underline dotted; }
  h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
  a { color: inherit; text-decoration: inherit; }
  b, strong { font-weight: bolder; }
  code, kbd, samp, pre { font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace); font-feature-settings: var(--default-mono-font-feature-settings,normal); font-variation-settings: var(--default-mono-font-variation-settings,normal); font-size: 1em; }
  small { font-size: 80%; }
  sub, sup { vertical-align: baseline; font-size: 75%; line-height: 0; position: relative; }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }
  table { text-indent: 0px; border-color: inherit; border-collapse: collapse; }
  progress { vertical-align: baseline; }
  summary { display: list-item; }
  ol, ul, menu { list-style: none; }
  img, svg, video, canvas, audio, iframe, embed, object { vertical-align: middle; display: block; }
  img, video { max-width: 100%; height: auto; }
  button, input, select, optgroup, textarea { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  ::file-selector-button { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  :where(select:is([multiple], [size])) optgroup { font-weight: bolder; }
  :where(select:is([multiple], [size])) optgroup option { padding-inline-start: 20px; }
  ::file-selector-button { margin-inline-end: 4px; }
  ::placeholder { opacity: 1; }
  @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
  ::placeholder { color: currentcolor; }
  @supports (color:color-mix(in lab, red, red)) {
  ::placeholder { color: color-mix(currentcolor, transparent); }
}
}
  textarea { resize: vertical; }
  ::-webkit-search-decoration { appearance: none; }
  ::-webkit-date-and-time-value { min-height: 1lh; text-align: inherit; }
  ::-webkit-datetime-edit { display: inline-flex; }
  ::-webkit-datetime-edit-fields-wrapper { padding: 0px; }
  ::-webkit-datetime-edit { padding-block: 0px; }
  ::-webkit-datetime-edit-year-field { padding-block: 0px; }
  ::-webkit-datetime-edit-month-field { padding-block: 0px; }
  ::-webkit-datetime-edit-day-field { padding-block: 0px; }
  ::-webkit-datetime-edit-hour-field { padding-block: 0px; }
  ::-webkit-datetime-edit-minute-field { padding-block: 0px; }
  ::-webkit-datetime-edit-second-field { padding-block: 0px; }
  ::-webkit-datetime-edit-millisecond-field { padding-block: 0px; }
  ::-webkit-datetime-edit-meridiem-field { padding-block: 0px; }
  ::-webkit-calendar-picker-indicator { line-height: 1; }
  button, input:where([type="button"], [type="reset"], [type="submit"]) { appearance: button; }
  ::file-selector-button { appearance: button; }
  ::-webkit-inner-spin-button { height: auto; }
  ::-webkit-outer-spin-button { height: auto; }
  [hidden]:where(:not([hidden="until-found"])) { display: none !important; }
  html { -webkit-font-smoothing: antialiased; background-color: var(--color-olive-100); --scroll-padding-top: 0; scroll-padding-top: var(--scroll-padding-top); }
  @media (prefers-color-scheme: dark) {
  html { background-color: var(--color-olive-950); }
}
}
@layer components;
@layer utilities {
  .ynh { pointer-events: none; }
  .yni { position: absolute; }
  .ynj { position: fixed; }
  .ynk { position: relative; }
  .ynl { position: sticky; }
  .ynm { inset: calc(var(--spacing)*0); }
  .ynn { top: calc(var(--spacing)*0); }
  .yno { bottom: calc(var(--spacing)*0); }
  .ynp { left: 50%; }
  .ynq { isolation: isolate; }
  .ynr { z-index: 10; }
  .yns { grid-column: span 2 / span 2; }
  .ynt { margin-inline: auto; }
  .ynu { margin-top: calc(var(--spacing)*2); }
  .ynv { margin-top: calc(var(--spacing)*6); }
  .ynw { display: flex; }
  .ynx { display: grid; }
  .yny { display: inline-block; }
  .ynz { display: inline-flex; }
  .yoa { aspect-ratio: 3 / 4; }
  .yob { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  .yoc { width: calc(var(--spacing)*7); height: calc(var(--spacing)*7); }
  .yod { height: var(--scroll-padding-top); }
  .yoe { height: calc(var(--spacing)*48); }
  .yof { height: calc(var(--spacing)*100); }
  .yog { width: 150vw; }
  .yoh { width: 100%; }
  .yoi { max-width: var(--container-2xl); }
  .yoj { max-width: var(--container-3xl); }
  .yok { max-width: var(--container-4xl); }
  .yol { max-width: var(--container-5xl); }
  .yom { max-width: var(--container-7xl); }
  .yon { max-width: calc(var(--container-7xl) - (calc(var(--spacing)*10)*2)); }
  .yoo { max-width: var(--container-sm); }
  .yop { flex: 1 1 0%; }
  .yoq { flex-shrink: 0; }
  .yor { --tw-translate-x: calc(calc(1/2*100%)*-1); translate: var(--tw-translate-x)var(--tw-translate-y); }
  .yos { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .yot { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .you { flex-direction: column; }
  .yov { align-items: center; }
  .yow { align-items: flex-start; }
  .yox { align-items: stretch; }
  .yoy { justify-content: space-between; }
  .yoz { justify-content: center; }
  .ypa { justify-content: flex-end; }
  .ypb { gap: calc(var(--spacing)*1); }
  .ypc { gap: calc(var(--spacing)*2); }
  .ypd { gap: calc(var(--spacing)*4); }
  .ype { gap: calc(var(--spacing)*5); }
  .ypf { gap: calc(var(--spacing)*6); }
  .ypg { gap: calc(var(--spacing)*8); }
  .yph { gap: calc(var(--spacing)*10); }
  .ypi { gap: calc(var(--spacing)*16); }
  .ypj { gap: calc(var(--spacing)*32); }
  .ypk { column-gap: calc(var(--spacing)*2); }
  .ypl { column-gap: calc(var(--spacing)*6); }
  .ypm { row-gap: calc(var(--spacing)*10); }
  .ypn { row-gap: calc(var(--spacing)*16); }
  .ypo { overflow: clip; }
  .ypp { overflow: hidden; }
  .ypq { border-radius: 3.40282e+38px; }
  .ypr { border-radius: var(--radius-sm); }
  .yps { border-radius: var(--radius-xl); }
  .ypt { border-bottom-style: var(--tw-border-style); border-bottom-width: 1px; }
  .ypu { border-left-style: var(--tw-border-style); border-left-width: 1px; }
  .ypv { border-color: rgba(12, 12, 9, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .ypv { border-color: color-mix(in oklab,var(--color-olive-950)20%,transparent); }
}
  .ypw { background-color: var(--color-olive-100); }
  .ypx { background-color: var(--color-olive-950); }
  .ypy { background-color: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .ypy { background-color: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .ypz { fill: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .ypz { fill: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .yqa { stroke: rgba(12, 12, 9, 0.4); }
  @supports (color:color-mix(in lab, red, red)) {
  .yqa { stroke: color-mix(in oklab,var(--color-olive-950)40%,transparent); }
}
  .yqb { padding: calc(var(--spacing)*1.5); }
  .yqc { padding: calc(var(--spacing)*2); }
  .yqd { padding: calc(var(--spacing)*6); }
  .yqe { padding-inline: calc(var(--spacing)*3); }
  .yqf { padding-inline: calc(var(--spacing)*4); }
  .yqg { padding-inline: calc(var(--spacing)*6); }
  .yqh { padding-block: calc(var(--spacing)*1); }
  .yqi { padding-block: calc(var(--spacing)*2); }
  .yqj { padding-block: calc(var(--spacing)*6); }
  .yqk { padding-block: calc(var(--spacing)*16); }
  .yql { padding-top: calc(var(--spacing)*16); }
  .yqm { padding-left: calc(var(--spacing)*6); }
  .yqn { font-family: var(--font-display); font-variation-settings: var(--font-display--font-variation-settings); }
  .yqo { font-size: var(--text-2xl); line-height: calc(var(--spacing)*9); }
  .yqp { font-size: var(--text-2xl); line-height: calc(var(--spacing)*10); }
  .yqq { font-size: var(--text-3xl); line-height: calc(var(--spacing)*10); }
  .yqr { font-size: var(--text-5xl); line-height: calc(var(--spacing)*12); }
  .yqs { font-size: 2rem; line-height: calc(var(--spacing)*10); }
  .yqt { font-size: var(--text-base); line-height: calc(var(--spacing)*7); }
  .yqu { font-size: var(--text-lg); line-height: calc(var(--spacing)*8); }
  .yqv { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .yqw { --tw-font-weight: var(--font-weight-medium); font-weight: var(--font-weight-medium); }
  .yqx { --tw-font-weight: var(--font-weight-semibold); font-weight: var(--font-weight-semibold); }
  .yqy { --tw-tracking: var(--tracking-tight); letter-spacing: var(--tracking-tight); }
  .yqz { text-wrap: balance; }
  .yra { text-wrap: pretty; }
  .yrb { color: var(--color-olive-600); }
  .yrc { color: var(--color-olive-700); }
  .yrd { color: var(--color-olive-950); }
  .yre { color: var(--color-white); }
  .yrf { -webkit-font-smoothing: antialiased; }
  .yrg { color-scheme: light dark; }
  .yrh { opacity: 0; }
  .yri { outline-style: var(--tw-outline-style); outline-width: 1px; }
  .yrj { outline-offset: calc(-1px); }
  .yrk { outline-color: rgba(0, 0, 0, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .yrk { outline-color: color-mix(in oklab,var(--color-black)5%,transparent); }
}
  :is(.yrl > *) { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  :is(.yrm > *) { width: 100%; height: 100%; }
  :is(.yrn > *) { object-fit: cover; }
  @media not all and (prefers-color-scheme: dark) {
  .yro { display: none; }
  .yrp { background-color: rgba(255, 255, 255, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .yrp { background-color: color-mix(in oklab,var(--color-white)75%,transparent); }
}
}
  @media (hover: hover) {
  .yrq:is(:where(.yrr):hover *) { opacity: 1; }
}
  .yrs::backdrop { background-color: rgba(0, 0, 0, 0); }
  .yrt::after { content: var(--tw-content); position: absolute; }
  .yru::after { content: var(--tw-content); inset: calc(var(--spacing)*-2); }
  :is(.yrv > *):first-child::before { content: var(--tw-content); position: absolute; }
  :is(.yrw > *):first-child::before { content: var(--tw-content); display: inline; }
  :is(.yrx > *):first-child::before { content: var(--tw-content); --tw-translate-x: -100%; translate: var(--tw-translate-x)var(--tw-translate-y); }
  :is(.yry > *):first-child::before { --tw-content: "“"; content: var(--tw-content); }
  :is(.yrz > *):last-child::after { content: var(--tw-content); display: inline; }
  :is(.ysa > *):last-child::after { --tw-content: "”"; content: var(--tw-content); }
  @media (hover: hover) {
  .ysb:hover { background-color: var(--color-olive-800); }
  .ysc:hover { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .ysc:hover { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
}
  .ysd:focus { --tw-outline-style: none; outline-style: none; }
  @media (forced-colors: active) {
  .ysd:focus { outline-offset: 2px; outline: rgba(0, 0, 0, 0) solid 2px; }
}
  .yse:has(:is(input:focus)) { border-color: var(--color-olive-950); }
  @media not all and (min-width: 64rem) {
  .ysf { display: none; }
}
  @media not all and (min-width: 40rem) {
  .ysg { display: none; }
}
  @media (min-width: 40rem) {
  .ysh { display: none; }
  .ysi { height: calc(var(--spacing)*64); }
  .ysj { grid-auto-columns: minmax(0px, 1fr); }
  .ysk { grid-auto-flow: column dense; }
  .ysl { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .ysm { gap: calc(var(--spacing)*10); }
  .ysn { gap: calc(var(--spacing)*16); }
  .yso { padding: calc(var(--spacing)*10); }
  .ysp { font-size: var(--text-5xl); line-height: calc(var(--spacing)*14); }
  .ysq { font-size: 5rem; line-height: calc(var(--spacing)*20); }
  .ysr:has(> :last-child:nth-child(3)), .yss:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
}
  @media (min-width: 48rem) {
  .yst { max-width: var(--container-3xl); }
  .ysu { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .ysv:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
}
  @media (min-width: 64rem) {
  .ysw { display: none; }
  .ysx { height: calc(var(--spacing)*36); }
  .ysy { max-width: var(--container-7xl); }
  .ysz { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .yta { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .ytb { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
  .ytc { padding-inline: calc(var(--spacing)*10); }
  .ytd { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  @media not all and (min-width: 80rem) {
  .yte:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}
}
  @media (prefers-color-scheme: dark) {
  .ytf { display: none; }
  .ytg { border-color: rgba(255, 255, 255, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .ytg { border-color: color-mix(in oklab,var(--color-white)20%,transparent); }
}
  .yth { background-color: rgba(0, 0, 0, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .yth { background-color: color-mix(in oklab,var(--color-black)75%,transparent); }
}
  .yti { background-color: var(--color-olive-300); }
  .ytj { background-color: var(--color-olive-950); }
  .ytk { background-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .ytk { background-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .ytl { fill: rgba(255, 255, 255, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .ytl { fill: color-mix(in oklab,var(--color-white)2.5%,transparent); }
}
  .ytm { stroke: rgba(255, 255, 255, 0.4); }
  @supports (color:color-mix(in lab, red, red)) {
  .ytm { stroke: color-mix(in oklab,var(--color-white)40%,transparent); }
}
  .ytn { color: var(--color-olive-400); }
  .yto { color: var(--color-olive-500); }
  .ytp { color: var(--color-olive-950); }
  .ytq { color: var(--color-white); }
  .ytr { outline-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .ytr { outline-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  @media (hover: hover) {
  .yts:hover { background-color: var(--color-olive-200); }
  .ytt:hover { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .ytt:hover { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
}
  .ytu:has(:is(input:focus)) { border-color: var(--color-white); }
}
  .ytv::after { content: var(--tw-content); }
  @media (pointer: fine) {
  .ytv::after { display: none; }
}
}
@property --tw-translate-x { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-y { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-z { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-border-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-font-weight { syntax: "*"; inherits: false; }
@property --tw-tracking { syntax: "*"; inherits: false; }
@property --tw-outline-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-content { syntax: "*"; inherits: false; initial-value: ""; }
:root { --scroll-padding-top: 5.25rem; }