@layer properties {
  @supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
  *, ::before, ::after, ::backdrop { --tw-space-y-reverse: 0; --tw-font-weight: initial; --tw-tracking: initial; }
}
}
@layer theme {
  :root, :host { --font-sans: "Inter",system-ui,sans-serif; --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --color-olive-100: oklch(96.6% .005 106.5); --color-olive-200: oklch(93% .007 106.5); --color-olive-300: oklch(88% .011 106.6); --color-olive-400: oklch(73.7% .021 106.9); --color-olive-500: oklch(58% .031 107.3); --color-olive-600: oklch(46.6% .025 107.3); --color-olive-700: oklch(39.4% .023 107.4); --color-olive-800: oklch(28.6% .016 107.4); --color-olive-950: oklch(15.3% .006 107.1); --color-white: #fff; --spacing: .25rem; --container-xl: 36rem; --container-2xl: 42rem; --container-3xl: 48rem; --container-7xl: 80rem; --text-sm: .875rem; --text-base: 1rem; --text-lg: 1.125rem; --text-3xl: 1.875rem; --text-5xl: 3rem; --font-weight-medium: 500; --font-weight-semibold: 600; --tracking-tight: -.025em; --default-font-family: var(--font-sans); --default-mono-font-family: var(--font-mono); --font-display: "Instrument Serif",serif; --font-display--font-variation-settings: "wdth" 112.5; }
}
@layer base {
  *, ::after, ::before, ::backdrop { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  ::file-selector-button { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  html, :host { text-size-adjust: 100%; tab-size: 4; line-height: 1.5; font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"); font-feature-settings: var(--default-font-feature-settings,normal); font-variation-settings: var(--default-font-variation-settings,normal); -webkit-tap-highlight-color: transparent; }
  hr { height: 0px; color: inherit; border-top-width: 1px; }
  abbr:where([title]) { text-decoration: underline dotted; }
  h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
  a { color: inherit; text-decoration: inherit; }
  b, strong { font-weight: bolder; }
  code, kbd, samp, pre { font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace); font-feature-settings: var(--default-mono-font-feature-settings,normal); font-variation-settings: var(--default-mono-font-variation-settings,normal); font-size: 1em; }
  small { font-size: 80%; }
  sub, sup { vertical-align: baseline; font-size: 75%; line-height: 0; position: relative; }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }
  table { text-indent: 0px; border-color: inherit; border-collapse: collapse; }
  progress { vertical-align: baseline; }
  summary { display: list-item; }
  ol, ul, menu { list-style: none; }
  img, svg, video, canvas, audio, iframe, embed, object { vertical-align: middle; display: block; }
  img, video { max-width: 100%; height: auto; }
  button, input, select, optgroup, textarea { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  ::file-selector-button { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  :where(select:is([multiple], [size])) optgroup { font-weight: bolder; }
  :where(select:is([multiple], [size])) optgroup option { padding-inline-start: 20px; }
  ::file-selector-button { margin-inline-end: 4px; }
  ::placeholder { opacity: 1; }
  @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
  ::placeholder { color: currentcolor; }
  @supports (color:color-mix(in lab, red, red)) {
  ::placeholder { color: color-mix(currentcolor, transparent); }
}
}
  textarea { resize: vertical; }
  ::-webkit-search-decoration { appearance: none; }
  ::-webkit-date-and-time-value { min-height: 1lh; text-align: inherit; }
  ::-webkit-datetime-edit { display: inline-flex; }
  ::-webkit-datetime-edit-fields-wrapper { padding: 0px; }
  ::-webkit-datetime-edit { padding-block: 0px; }
  ::-webkit-datetime-edit-year-field { padding-block: 0px; }
  ::-webkit-datetime-edit-month-field { padding-block: 0px; }
  ::-webkit-datetime-edit-day-field { padding-block: 0px; }
  ::-webkit-datetime-edit-hour-field { padding-block: 0px; }
  ::-webkit-datetime-edit-minute-field { padding-block: 0px; }
  ::-webkit-datetime-edit-second-field { padding-block: 0px; }
  ::-webkit-datetime-edit-millisecond-field { padding-block: 0px; }
  ::-webkit-datetime-edit-meridiem-field { padding-block: 0px; }
  ::-webkit-calendar-picker-indicator { line-height: 1; }
  button, input:where([type="button"], [type="reset"], [type="submit"]) { appearance: button; }
  ::file-selector-button { appearance: button; }
  ::-webkit-inner-spin-button { height: auto; }
  ::-webkit-outer-spin-button { height: auto; }
  [hidden]:where(:not([hidden="until-found"])) { display: none !important; }
  html { -webkit-font-smoothing: antialiased; background-color: var(--color-olive-100); --scroll-padding-top: 0; scroll-padding-top: var(--scroll-padding-top); }
  @media (prefers-color-scheme: dark) {
  html { background-color: var(--color-olive-950); }
}
}
@layer components;
@layer utilities {
  .sdb { position: absolute; }
  .sdc { position: fixed; }
  .sdd { position: sticky; }
  .sde { inset: calc(var(--spacing)*0); }
  .sdf { top: calc(var(--spacing)*0); }
  .sdg { isolation: isolate; }
  .sdh { z-index: 10; }
  .sdi { margin-inline: auto; }
  .sdj { margin-top: calc(var(--spacing)*2); }
  .sdk { margin-top: calc(var(--spacing)*6); }
  .sdl { display: flex; }
  .sdm { display: grid; }
  .sdn { display: inline-flex; }
  .sdo { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  .sdp { height: var(--scroll-padding-top); }
  .sdq { width: 100%; }
  .sdr { max-width: var(--container-2xl); }
  .sds { max-width: var(--container-7xl); }
  .sdt { max-width: var(--container-xl); }
  .sdu { flex: 1 1 0%; }
  .sdv { flex-shrink: 0; }
  .sdw { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .sdx { flex-direction: column; }
  .sdy { align-items: center; }
  .sdz { align-items: stretch; }
  .sea { justify-content: space-between; }
  .seb { justify-content: center; }
  .sec { justify-content: flex-end; }
  .sed { gap: calc(var(--spacing)*1); }
  .see { gap: calc(var(--spacing)*2); }
  .sef { gap: calc(var(--spacing)*4); }
  .seg { gap: calc(var(--spacing)*5); }
  .seh { gap: calc(var(--spacing)*6); }
  .sei { gap: calc(var(--spacing)*8); }
  .sej { gap: calc(var(--spacing)*10); }
  .sek { gap: calc(var(--spacing)*16); }
  :where(.sel > :not(:last-child)) { --tw-space-y-reverse: 0; margin-block-start: calc(calc(var(--spacing)*4)*var(--tw-space-y-reverse)); margin-block-end: calc(calc(var(--spacing)*4)*calc(1 - var(--tw-space-y-reverse))); }
  .sem { overflow: clip; }
  .sen { border-radius: 3.40282e+38px; }
  .seo { background-color: var(--color-olive-100); }
  .sep { background-color: var(--color-olive-950); }
  .seq { background-color: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .seq { background-color: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .ser { padding: calc(var(--spacing)*1.5); }
  .ses { padding-inline: calc(var(--spacing)*3); }
  .set { padding-inline: calc(var(--spacing)*6); }
  .seu { padding-block: calc(var(--spacing)*1); }
  .sev { padding-block: calc(var(--spacing)*6); }
  .sew { padding-block: calc(var(--spacing)*16); }
  .sex { padding-top: calc(var(--spacing)*16); }
  .sey { font-family: var(--font-display); font-variation-settings: var(--font-display--font-variation-settings); }
  .sez { font-size: var(--text-3xl); line-height: calc(var(--spacing)*10); }
  .sfa { font-size: var(--text-5xl); line-height: calc(var(--spacing)*12); }
  .sfb { font-size: var(--text-lg); line-height: calc(var(--spacing)*8); }
  .sfc { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .sfd { --tw-font-weight: var(--font-weight-medium); font-weight: var(--font-weight-medium); }
  .sfe { --tw-tracking: var(--tracking-tight); letter-spacing: var(--tracking-tight); }
  .sff { text-wrap: balance; }
  .sfg { color: var(--color-olive-600); }
  .sfh { color: var(--color-olive-700); }
  .sfi { color: var(--color-olive-950); }
  .sfj { color: var(--color-white); }
  .sfk { -webkit-font-smoothing: antialiased; }
  .sfl { color-scheme: light dark; }
  .sfm { opacity: 0; }
  @media not all and (prefers-color-scheme: dark) {
  .sfn { display: none; }
}
  @media (hover: hover) {
  .sfo:is(:where(.sfp):hover *) { opacity: 1; }
}
  .sfq::backdrop { background-color: rgba(0, 0, 0, 0); }
  @media (hover: hover) {
  .sfr:hover { background-color: var(--color-olive-800); }
  .sfs:hover { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .sfs:hover { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
}
  @media not all and (min-width: 64rem) {
  .sft { display: none; }
}
  @media not all and (min-width: 40rem) {
  .sfu { display: none; }
}
  @media (min-width: 40rem) {
  .sfv { display: none; }
  .sfw { gap: calc(var(--spacing)*16); }
  .sfx { font-size: 5rem; line-height: calc(var(--spacing)*20); }
  .sfy:has(> :last-child:nth-child(3)), .sfz:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
}
  @media (min-width: 48rem) {
  .sga { max-width: var(--container-3xl); }
  .sgb:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
}
  @media (min-width: 64rem) {
  .sgc { display: none; }
  .sgd { max-width: var(--container-7xl); }
  .sge { padding-inline: calc(var(--spacing)*10); }
  .sgf { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .sgg:has(> :nth-child(5)) { grid-template-columns: repeat(5, minmax(0px, 1fr)); }
}
  @media (prefers-color-scheme: dark) {
  .sgh { display: none; }
  .sgi { background-color: var(--color-olive-300); }
  .sgj { background-color: var(--color-olive-950); }
  .sgk { background-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .sgk { background-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .sgl { color: var(--color-olive-400); }
  .sgm { color: var(--color-olive-500); }
  .sgn { color: var(--color-olive-950); }
  .sgo { color: var(--color-white); }
  @media (hover: hover) {
  .sgp:hover { background-color: var(--color-olive-200); }
  .sgq:hover { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .sgq:hover { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
}
}
  .sgr a { --tw-font-weight: var(--font-weight-semibold); font-weight: var(--font-weight-semibold); }
  .sgs a { color: var(--color-olive-950); }
  .sgt a { text-decoration-line: underline; }
  .sgu a { text-underline-offset: 4px; }
  @media (prefers-color-scheme: dark) {
  .sgv a { color: var(--color-white); }
}
  .sgw h2 { font-size: var(--text-base); line-height: calc(var(--spacing)*8); }
  .sgx h2 { --tw-font-weight: var(--font-weight-medium); font-weight: var(--font-weight-medium); }
  .sgy h2 { color: var(--color-olive-950); }
  .sgz h2:not(:first-child) { margin-top: calc(var(--spacing)*8); }
  @media (prefers-color-scheme: dark) {
  .sha h2 { color: var(--color-white); }
}
  .shb li { padding-left: calc(var(--spacing)*2); }
  .shc ol { list-style-type: decimal; }
  .shd ol { padding-left: calc(var(--spacing)*6); }
  .she strong { --tw-font-weight: var(--font-weight-semibold); font-weight: var(--font-weight-semibold); }
  .shf strong { color: var(--color-olive-950); }
  @media (prefers-color-scheme: dark) {
  .shg strong { color: var(--color-white); }
}
  .shh ul { list-style-type: square; }
  .shi ul { padding-left: calc(var(--spacing)*6); }
  .shj ul ::marker { color: var(--color-olive-400); }
  .shj ul::marker { color: var(--color-olive-400); }
  .shj ul ::-webkit-details-marker { color: var(--color-olive-400); }
  .shj ul::-webkit-details-marker { color: var(--color-olive-400); }
  @media (prefers-color-scheme: dark) {
  .shk ul ::marker { color: var(--color-olive-600); }
  .shk ul::marker { color: var(--color-olive-600); }
  .shk ul ::-webkit-details-marker { color: var(--color-olive-600); }
  .shk ul::-webkit-details-marker { color: var(--color-olive-600); }
}
}
@property --tw-space-y-reverse { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-font-weight { syntax: "*"; inherits: false; }
@property --tw-tracking { syntax: "*"; inherits: false; }
:root { --scroll-padding-top: 5.25rem; }