
:root {
	--font-sans: "Inter", sans-serif;


	--bg-primary: #0a0a0a;
	--bg-secondary: #121212;
	--bg-dark: #000000;
	--bg-dark-card: #121212;
	--bg-inverse: #ffffff;

	--text-primary: #ffffff;
	--text-secondary: #9ca3af;
	--text-muted: #6b7280;
	--text-inverse: #000000;
	--text-dark-muted: rgba(255, 255, 255, 0.4);

	--border-primary: #1f1f1f;
	--border-dark: #2d2d2d;
	--border-inverse: #ffffff;

	--bg-accent-surface: rgba(210, 251, 100, 0.05);
	--text-neon: #d2fb64;
}

[data-theme="light"] {
	--bg-primary: #ffffff;
	--bg-secondary: #f3f4f6;
	--bg-dark: #f9fafb;
	--bg-dark-card: #f3f4f6;
	--bg-inverse: #000000;

	--text-primary: #0f172a;
	--text-secondary: #475569;
	--text-muted: #94a3b8;
	--text-inverse: #ffffff;
	--text-dark-muted: rgba(15, 23, 42, 0.6);

	--border-primary: #e2e8f0;
	--border-dark: #cbd5e1;
	--border-inverse: #0f172a;

	--bg-accent-surface: rgba(210, 251, 100, 0.1);
	--text-neon: #a3e635;
}
