@layer properties {
  @supports (((-webkit-hyphens:none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
  *, ::before, ::after, ::backdrop { --tw-space-y-reverse: 0; --tw-divide-y-reverse: 0; --tw-border-style: solid; --tw-font-weight: initial; --tw-tracking: initial; --tw-outline-style: solid; --tw-content: ""; --tw-translate-x: 0; --tw-translate-y: 0; --tw-translate-z: 0; }
}
}
@layer theme {
  :root, :host { --font-sans: "Inter",system-ui,sans-serif; --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; --color-olive-100: oklch(96.6% .005 106.5); --color-olive-200: oklch(93% .007 106.5); --color-olive-300: oklch(88% .011 106.6); --color-olive-400: oklch(73.7% .021 106.9); --color-olive-500: oklch(58% .031 107.3); --color-olive-600: oklch(46.6% .025 107.3); --color-olive-700: oklch(39.4% .023 107.4); --color-olive-800: oklch(28.6% .016 107.4); --color-olive-950: oklch(15.3% .006 107.1); --color-black: #000; --color-white: #fff; --spacing: .25rem; --container-xl: 36rem; --container-2xl: 42rem; --container-3xl: 48rem; --container-4xl: 56rem; --container-5xl: 64rem; --container-7xl: 80rem; --text-xs: .75rem; --text-sm: .875rem; --text-base: 1rem; --text-lg: 1.125rem; --text-2xl: 1.5rem; --text-3xl: 1.875rem; --text-5xl: 3rem; --font-weight-medium: 500; --font-weight-semibold: 600; --tracking-tight: -.025em; --radius-md: .375rem; --radius-xl: .75rem; --default-transition-duration: .15s; --default-transition-timing-function: cubic-bezier(.4,0,.2,1); --default-font-family: var(--font-sans); --default-mono-font-family: var(--font-mono); --font-display: "Instrument Serif",serif; --font-display--font-variation-settings: "wdth" 112.5; }
}
@layer base {
  *, ::after, ::before, ::backdrop { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  ::file-selector-button { box-sizing: border-box; border: 0px solid; margin: 0px; padding: 0px; }
  html, :host { text-size-adjust: 100%; tab-size: 4; line-height: 1.5; font-family: var(--default-font-family,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"); font-feature-settings: var(--default-font-feature-settings,normal); font-variation-settings: var(--default-font-variation-settings,normal); -webkit-tap-highlight-color: transparent; }
  hr { height: 0px; color: inherit; border-top-width: 1px; }
  abbr:where([title]) { text-decoration: underline dotted; }
  h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
  a { color: inherit; text-decoration: inherit; }
  b, strong { font-weight: bolder; }
  code, kbd, samp, pre { font-family: var(--default-mono-font-family,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace); font-feature-settings: var(--default-mono-font-feature-settings,normal); font-variation-settings: var(--default-mono-font-variation-settings,normal); font-size: 1em; }
  small { font-size: 80%; }
  sub, sup { vertical-align: baseline; font-size: 75%; line-height: 0; position: relative; }
  sub { bottom: -0.25em; }
  sup { top: -0.5em; }
  table { text-indent: 0px; border-color: inherit; border-collapse: collapse; }
  progress { vertical-align: baseline; }
  summary { display: list-item; }
  ol, ul, menu { list-style: none; }
  img, svg, video, canvas, audio, iframe, embed, object { vertical-align: middle; display: block; }
  img, video { max-width: 100%; height: auto; }
  button, input, select, optgroup, textarea { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  ::file-selector-button { font: inherit; letter-spacing: inherit; color: inherit; opacity: 1; background-color: rgba(0, 0, 0, 0); border-radius: 0px; }
  :where(select:is([multiple], [size])) optgroup { font-weight: bolder; }
  :where(select:is([multiple], [size])) optgroup option { padding-inline-start: 20px; }
  ::file-selector-button { margin-inline-end: 4px; }
  ::placeholder { opacity: 1; }
  @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
  ::placeholder { color: currentcolor; }
  @supports (color:color-mix(in lab, red, red)) {
  ::placeholder { color: color-mix(currentcolor, transparent); }
}
}
  textarea { resize: vertical; }
  ::-webkit-search-decoration { appearance: none; }
  ::-webkit-date-and-time-value { min-height: 1lh; text-align: inherit; }
  ::-webkit-datetime-edit { display: inline-flex; }
  ::-webkit-datetime-edit-fields-wrapper { padding: 0px; }
  ::-webkit-datetime-edit { padding-block: 0px; }
  ::-webkit-datetime-edit-year-field { padding-block: 0px; }
  ::-webkit-datetime-edit-month-field { padding-block: 0px; }
  ::-webkit-datetime-edit-day-field { padding-block: 0px; }
  ::-webkit-datetime-edit-hour-field { padding-block: 0px; }
  ::-webkit-datetime-edit-minute-field { padding-block: 0px; }
  ::-webkit-datetime-edit-second-field { padding-block: 0px; }
  ::-webkit-datetime-edit-millisecond-field { padding-block: 0px; }
  ::-webkit-datetime-edit-meridiem-field { padding-block: 0px; }
  ::-webkit-calendar-picker-indicator { line-height: 1; }
  button, input:where([type="button"], [type="reset"], [type="submit"]) { appearance: button; }
  ::file-selector-button { appearance: button; }
  ::-webkit-inner-spin-button { height: auto; }
  ::-webkit-outer-spin-button { height: auto; }
  [hidden]:where(:not([hidden="until-found"])) { display: none !important; }
  html { -webkit-font-smoothing: antialiased; background-color: var(--color-olive-100); --scroll-padding-top: 0; scroll-padding-top: var(--scroll-padding-top); }
  @media (prefers-color-scheme: dark) {
  html { background-color: var(--color-olive-950); }
}
}
@layer components;
@layer utilities {
  .aanv { position: fixed; }
  .aanw { position: relative; }
  .aanx { position: sticky; }
  .aany { inset: calc(var(--spacing)*0); }
  .aanz { top: calc(var(--spacing)*0); }
  .aaoa { isolation: isolate; }
  .aaob { z-index: 10; }
  .aaoc { order: 9999; }
  .aaod { margin-inline: auto; }
  .aaoe { margin-top: calc(var(--spacing)*-2); }
  .aaof { margin-top: calc(var(--spacing)*1); }
  .aaog { margin-top: calc(var(--spacing)*2); }
  .aaoh { margin-top: calc(var(--spacing)*4); }
  .aaoi { margin-top: calc(var(--spacing)*6); }
  .aaoj { display: flex; }
  .aaok { display: grid; }
  .aaol { display: none; }
  .aaom { display: inline-block; }
  .aaon { display: inline-flex; }
  .aaoo { width: calc(var(--spacing)*6); height: calc(var(--spacing)*6); }
  .aaop { width: calc(var(--spacing)*12); height: calc(var(--spacing)*12); }
  .aaoq { height: var(--scroll-padding-top); }
  .aaor { height: 1lh; }
  .aaos { width: 100%; }
  .aaot { max-width: var(--container-2xl); }
  .aaou { max-width: var(--container-3xl); }
  .aaov { max-width: var(--container-4xl); }
  .aaow { max-width: var(--container-5xl); }
  .aaox { max-width: var(--container-7xl); }
  .aaoy { max-width: var(--container-xl); }
  .aaoz { flex: 1 1 0%; }
  .aapa { flex-shrink: 0; }
  .aapb { grid-template-columns: repeat(1, minmax(0px, 1fr)); }
  .aapc { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .aapd { flex-direction: column; }
  .aape { align-items: center; }
  .aapf { align-items: flex-start; }
  .aapg { align-items: stretch; }
  .aaph { justify-content: space-between; }
  .aapi { justify-content: center; }
  .aapj { justify-content: flex-end; }
  .aapk { gap: calc(var(--spacing)*1); }
  .aapl { gap: calc(var(--spacing)*2); }
  .aapm { gap: calc(var(--spacing)*4); }
  .aapn { gap: calc(var(--spacing)*5); }
  .aapo { gap: calc(var(--spacing)*6); }
  .aapp { gap: calc(var(--spacing)*8); }
  .aapq { gap: calc(var(--spacing)*10); }
  .aapr { gap: calc(var(--spacing)*16); }
  :where(.aaps > :not(:last-child)) { --tw-space-y-reverse: 0; margin-block-start: calc(calc(var(--spacing)*2)*var(--tw-space-y-reverse)); margin-block-end: calc(calc(var(--spacing)*2)*calc(1 - var(--tw-space-y-reverse))); }
  .aapt { column-gap: calc(var(--spacing)*2); }
  .aapu { row-gap: calc(var(--spacing)*8); }
  :where(.aapv > :not(:last-child)) { --tw-divide-y-reverse: 0; border-bottom-style: var(--tw-border-style); border-top-style: var(--tw-border-style); border-top-width: calc(1px*var(--tw-divide-y-reverse)); border-bottom-width: calc(1px*calc(1 - var(--tw-divide-y-reverse))); }
  :where(.aapw > :not(:last-child)) { border-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  :where(.aapw > :not(:last-child)) { border-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aapx { align-self: stretch; }
  .aapy { overflow: clip; }
  .aapz { overflow: hidden; }
  .aaqa { border-radius: 3.40282e+38px; }
  .aaqb { border-radius: var(--radius-md); }
  .aaqc { border-radius: var(--radius-xl); }
  .aaqd { border-block-style: var(--tw-border-style); border-block-width: 1px; }
  .aaqe { border-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aaqe { border-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aaqf { background-color: var(--color-olive-100); }
  .aaqg { background-color: var(--color-olive-950); }
  .aaqh { background-color: rgba(12, 12, 9, 0.024); }
  @supports (color:color-mix(in lab, red, red)) {
  .aaqh { background-color: color-mix(in oklab,var(--color-olive-950)2.5%,transparent); }
}
  .aaqi { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aaqi { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aaqj { stroke: var(--color-olive-950); }
  .aaqk { padding: calc(var(--spacing)*1.5); }
  .aaql { padding: calc(var(--spacing)*6); }
  .aaqm { padding-inline: calc(var(--spacing)*2); }
  .aaqn { padding-inline: calc(var(--spacing)*3); }
  .aaqo { padding-inline: calc(var(--spacing)*4); }
  .aaqp { padding-inline: calc(var(--spacing)*6); }
  .aaqq { padding-block: calc(var(--spacing)*1); }
  .aaqr { padding-block: calc(var(--spacing)*2); }
  .aaqs { padding-block: calc(var(--spacing)*4); }
  .aaqt { padding-block: calc(var(--spacing)*6); }
  .aaqu { padding-block: calc(var(--spacing)*16); }
  .aaqv { padding-top: calc(var(--spacing)*16); }
  .aaqw { padding-right: calc(var(--spacing)*12); }
  .aaqx { padding-bottom: calc(var(--spacing)*4); }
  .aaqy { text-align: center; }
  .aaqz { text-align: left; }
  .aara { font-family: var(--font-display); font-variation-settings: var(--font-display--font-variation-settings); }
  .aarb { font-size: var(--text-2xl); line-height: calc(var(--spacing)*8); }
  .aarc { font-size: var(--text-3xl); line-height: calc(var(--spacing)*10); }
  .aard { font-size: var(--text-5xl); line-height: calc(var(--spacing)*12); }
  .aare { font-size: 2rem; line-height: calc(var(--spacing)*10); }
  .aarf { font-size: var(--text-base); line-height: calc(var(--spacing)*7); }
  .aarg { font-size: var(--text-lg); line-height: calc(var(--spacing)*8); }
  .aarh { font-size: var(--text-sm); line-height: calc(var(--spacing)*6); }
  .aari { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .aarj { font-size: var(--text-xs); line-height: calc(var(--spacing)*6); }
  .aark { --tw-font-weight: var(--font-weight-medium); font-weight: var(--font-weight-medium); }
  .aarl { --tw-font-weight: var(--font-weight-semibold); font-weight: var(--font-weight-semibold); }
  .aarm { --tw-tracking: var(--tracking-tight); letter-spacing: var(--tracking-tight); }
  .aarn { text-wrap: balance; }
  .aaro { text-wrap: pretty; }
  .aarp { color: var(--color-olive-500); }
  .aarq { color: var(--color-olive-600); }
  .aarr { color: var(--color-olive-700); }
  .aars { color: var(--color-olive-950); }
  .aart { color: var(--color-white); }
  .aaru { -webkit-font-smoothing: antialiased; }
  .aarv { color-scheme: light dark; }
  .aarw { opacity: 0; }
  .aarx { outline-style: var(--tw-outline-style); outline-width: 1px; }
  .aary { outline-offset: calc(-1px); }
  .aarz { outline-color: rgba(0, 0, 0, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aarz { outline-color: color-mix(in oklab,var(--color-black)5%,transparent); }
}
  .aasa { transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter, display, content-visibility, overlay, pointer-events; transition-timing-function: var(--tw-ease,var(--default-transition-timing-function)); transition-duration: var(--tw-duration,var(--default-transition-duration)); }
  :is(.aasb > *) { width: 100%; height: 100%; }
  :is(.aasc > *) { object-fit: cover; }
  .aasd:not(:where([aria-expanded="true"]) *) { display: none; }
  @media not all and (prefers-color-scheme: dark) {
  .aase { display: none; }
  .aasf { background-color: rgba(255, 255, 255, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .aasf { background-color: color-mix(in oklab,var(--color-white)75%,transparent); }
}
}
  @media (hover: hover) {
  .aasg:is(:where(.aash):hover *) { opacity: 1; }
}
  .aasi::backdrop { background-color: rgba(0, 0, 0, 0); }
  :is(.aasj > *):first-child::before { content: var(--tw-content); position: absolute; }
  :is(.aask > *):first-child::before { content: var(--tw-content); display: inline; }
  :is(.aasl > *):first-child::before { content: var(--tw-content); --tw-translate-x: -100%; translate: var(--tw-translate-x)var(--tw-translate-y); }
  :is(.aasm > *):first-child::before { --tw-content: "“"; content: var(--tw-content); }
  :is(.aasn > *):last-child::after { content: var(--tw-content); display: inline; }
  :is(.aaso > *):last-child::after { --tw-content: "”"; content: var(--tw-content); }
  @media (hover: hover) {
  .aasp:hover { background-color: var(--color-olive-800); }
  .aasq:hover { background-color: rgba(12, 12, 9, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aasq:hover { background-color: color-mix(in oklab,var(--color-olive-950)10%,transparent); }
}
  .aasr:hover { background-color: rgba(12, 12, 9, 0.15); }
  @supports (color:color-mix(in lab, red, red)) {
  .aasr:hover { background-color: color-mix(in oklab,var(--color-olive-950)15%,transparent); }
}
}
  :where([aria-expanded="true"]) .aass { display: none; }
  @media not all and (min-width: 64rem) {
  .aast { display: none; }
}
  @media not all and (min-width: 40rem) {
  .aasu { display: none; }
}
  @media (min-width: 40rem) {
  .aasv { display: none; }
  .aasw { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .aasx { align-items: flex-start; }
  .aasy { gap: calc(var(--spacing)*16); }
  .aasz { font-size: var(--text-5xl); line-height: calc(var(--spacing)*14); }
  .aata { font-size: 5rem; line-height: calc(var(--spacing)*20); }
  .aatb:has(> :last-child:nth-child(3)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .aatc:has(> :nth-child(5)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .aatd:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  @media not all and (min-width: 64rem) {
  .aate:has(> :last-child:nth-child(2n)) { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
}
}
  @media (min-width: 48rem) {
  .aatf { max-width: var(--container-3xl); }
  .aatg:has(> :last-child:nth-child(4)) { grid-template-columns: repeat(4, minmax(0px, 1fr)); }
}
  @media (min-width: 64rem) {
  .aath { display: none; }
  .aati { max-width: var(--container-7xl); }
  .aatj { grid-auto-columns: minmax(0px, 1fr); }
  .aatk { grid-auto-flow: column; }
  .aatl { grid-template-columns: repeat(2, minmax(0px, 1fr)); }
  .aatm { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .aatn { grid-template-columns: none; }
  .aato { padding-inline: calc(var(--spacing)*10); }
  .aatp { font-size: var(--text-sm); line-height: calc(var(--spacing)*7); }
  .aatq:has(> :nth-child(5)) { grid-auto-flow: row; }
  .aatr:has(> :nth-child(5)) { grid-template-columns: repeat(3, minmax(0px, 1fr)); }
  .aats:has(> :nth-child(5)) { grid-template-columns: repeat(5, minmax(0px, 1fr)); }
}
  @media (prefers-color-scheme: dark) {
  .aatt { display: none; }
  :where(.aatu > :not(:last-child)) { border-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  :where(.aatu > :not(:last-child)) { border-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aatv { border-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aatv { border-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aatw { background-color: rgba(0, 0, 0, 0.75); }
  @supports (color:color-mix(in lab, red, red)) {
  .aatw { background-color: color-mix(in oklab,var(--color-black)75%,transparent); }
}
  .aatx { background-color: var(--color-olive-300); }
  .aaty { background-color: var(--color-olive-950); }
  .aatz { background-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aatz { background-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  .aaua { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aaua { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aaub { stroke: var(--color-white); }
  .aauc { color: var(--color-olive-400); }
  .aaud { color: var(--color-olive-500); }
  .aaue { color: var(--color-olive-950); }
  .aauf { color: var(--color-white); }
  .aaug { outline-color: rgba(255, 255, 255, 0.05); }
  @supports (color:color-mix(in lab, red, red)) {
  .aaug { outline-color: color-mix(in oklab,var(--color-white)5%,transparent); }
}
  @media (hover: hover) {
  .aauh:hover { background-color: var(--color-olive-200); }
  .aaui:hover { background-color: rgba(255, 255, 255, 0.1); }
  @supports (color:color-mix(in lab, red, red)) {
  .aaui:hover { background-color: color-mix(in oklab,var(--color-white)10%,transparent); }
}
  .aauj:hover { background-color: rgba(255, 255, 255, 0.2); }
  @supports (color:color-mix(in lab, red, red)) {
  .aauj:hover { background-color: color-mix(in oklab,var(--color-white)20%,transparent); }
}
}
}
}
@property --tw-space-y-reverse { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-divide-y-reverse { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-border-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-font-weight { syntax: "*"; inherits: false; }
@property --tw-tracking { syntax: "*"; inherits: false; }
@property --tw-outline-style { syntax: "*"; inherits: false; initial-value: solid; }
@property --tw-content { syntax: "*"; inherits: false; initial-value: ""; }
@property --tw-translate-x { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-y { syntax: "*"; inherits: false; initial-value: 0; }
@property --tw-translate-z { syntax: "*"; inherits: false; initial-value: 0; }
:root { --scroll-padding-top: 5.25rem; }